html
  -webkit-text-size-adjust 100%

body, input, button, textarea
  font-size x
  line-height 1.5
  font-family sans

.amp
  font-style italic
  font-family Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif
  font-weight normal

a
  text-decoration none
  color lcolor
