/*----------------------------------------------------------------------
Header & Footer
----------------------------------------------------------------------*/

/*----------------------------------------------------------------------
Sections & Containers
----------------------------------------------------------------------*/

section
  padding 3em 0
  h2
    margin-bottom x*3
    font-size 2em

.container
  width 1024px

/*----------------------------------------------------------------------
Homepage
----------------------------------------------------------------------*/

#section-hero
  border-bottom none
  h1
    font-size 5em

#section-intro
  p
    font-size 1.25em

  p:first-of-type
    font-size 1.5em

#section-team, #section-resources
  .container
    width 100%
    max-width 1280px

ul#ul-team
  li
    width 25%

#section-resources
  clearfix()

  .container
    padding-right 0

  .thirds
    width 33.33333%
    float left
    padding-right 1.5em
