/*----------------------------------------------------------------------
Header & Footer
----------------------------------------------------------------------*/

logo-size = 60px

.site-logo
  margin-left -0.75 * logo-size
  width logo-size * 2
  height logo-size * 2 + 4px
  transition .15s ease-in-out

#site-header
  .left, .right
    float right
  .site-logo
    position static
    float left
    margin-top -2px
    margin-left 3em
  ul
    width auto
    li
      border-left 1px solid mcolor
      width 12em
      a
        text-align left
        padding 0 x*1.5
        &:hover
          border-top-color lighten(mcolor,15%)
          background darken(mcolor,20%)
          text-decoration none

#site-footer
  .site-logo
    position static
    float left
    margin-left 3em
    margin-top -3 * x + 2px
    &:hover
      padding-bottom logo-size * 0.5
      margin-top -3 * x + 2px - logo-size * 0.25

/*----------------------------------------------------------------------
Sections & Containers
----------------------------------------------------------------------*/

section
  padding 3em 0
  h2 /* Stay updated with Tendermint News */
    margin-bottom x*3

  .container
    width 100%
    max-width 1280px

.section-split
  .content
    display flex

  .column
    flex 1
    border-bottom none
    padding 1.5em 2em 1.5em
    border-right 1px solid bc
    display flex
    flex-flow column nowrap
    &:last-of-type
      border none

    p, ul
      text-align left

    h2
      width auto
      margin 0 0 x*2
      text-align left
      margin-bottom x*2
  &.section-inverse
    .column
      border-color lighten(mcolor,10%)

.section-panels
  clearfix()

  .container
    padding-right 0

  .content
    display flex
    flex-flow row wrap
    padding 0 0.5em
    margin 0 -1em

    .panel
      flex 1
      margin 0 0.5em
      .panel-header
        padding 0 1em
        background transparent
        h3
          font-size 1.25em
          line-height 2.5em
      ul
        li
          padding 0.75em 1em


#section-social-media
  ul
    li
      flex 1 0 25%
      a
        padding 0
        h3
          font-size 1.25em
        p
          font-size 1.125em
          margin 0 0 1.5em

.section-dark
  h2
    margin 0 0 x

  #mc-embedded-subscribe-form
    margin 0 auto
    max-width 42*x
    display flex
    padding 0.5em 0.25em 0.5em
    .input-group
      flex 1
      margin 0 0.25em

a.article-prev-next
  width 49%
  float left

#article-prev
  margin-right 2%

/*----------------------------------------------------------------------
Body - Home
----------------------------------------------------------------------*/

#body-home
  section#section-hero-home
    .container
      margin-top -2em
  #section-video
    .container
      max-width none

  #section-architecture
    padding-bottom 0

    .container
      padding 0

    .section-header
      h2
        width 768px

    .content
      display flex
      .anchor-img
        flex 1
        float left
        padding 0 1em 1.5em
        img
          height 360px
          width auto

      .text
        flex 2
        border-left 1px solid lighten(mcolor,10%)
        padding 0 2em 1.5em
        font-weight 200
        font-size 1.125em
        p
          text-align left

/*----------------------------------------------------------------------
Body - About
----------------------------------------------------------------------*/

#body-about
  ul.ul-portraits
    margin 0
    li
      max-width 250px

/*----------------------------------------------------------------------
Body - Blog
----------------------------------------------------------------------*/

.body-article #section-hero .container, .body-article #section-post .container
  max-width 50em

.body-article
  #section-hero
    padding-top 5em
    padding-bottom 3em

a.footer-large-button
  margin 4em 0 0
