/*----------------------------------------------------------------------
Header & Footer
----------------------------------------------------------------------*/

logo-size = 60px

.site-logo
  margin-left -0.75 * logo-size
  width logo-size * 1.5
  height logo-size * 1.5 + 4px
  transition .15s ease-in-out
  img
    margin logo-size * 0.25
    width logo-size
    height logo-size
  &:hover
    height logo-size * 1.75 + 4px

#site-header
  .left, .right
    float right
  .site-logo
    position static
    float left
    margin-top -2px
    margin-left 3em
    &:hover
      padding-top logo-size * 0.25
  ul
    width auto
    li
      border-left 1px solid mcolor
      width 12em
      a
        text-align left
        padding 0 x*1.5
        &:hover
          border-top-color lighten(mcolor,15%)
          background darken(mcolor,20%)
          text-decoration none

#site-footer
  .site-logo
    position static
    float left
    margin-left 3em
    margin-top -3 * x + 2px
    &:hover
      padding-bottom logo-size * 0.5
      margin-top -3 * x + 2px - logo-size * 0.25

/*----------------------------------------------------------------------
Sections & Containers
----------------------------------------------------------------------*/

section
  padding 3em 0
  h2 /* Stay updated with Tendermint News */
    margin-bottom x*3
    font-size 2em

  .container
    width 100%
    max-width 1280px

.section-thirds
  .content
    display flex

  .column
    flex 1
    border-bottom none
    padding 1.5em 2em 1.5em
    border-right 1px solid bc
    display flex
    flex-flow column nowrap
    &:last-of-type
      border none

    p, ul
      text-align left

    h2
      width auto
      text-align left
      margin-bottom x*2

#section-social-media
  ul
    li
      flex 1 0 25%
      a
        padding 0
        h3
          font-size 1.25em
        p
          font-size 1.125em
          margin 0 0 1.5em

.section-dark
  form
    width 320px
    padding 1.5em 1.5em 0.5em
    background hsl(mhue,msat,25%)
    border-bottom 4px solid hsl(mhue,msat,15%)
    input, button
      width 100%
      font-size 1.25em

a.article-prev-next
  width 49%
  float left

#article-prev
  margin-right 2%

/*----------------------------------------------------------------------
Body - Home
----------------------------------------------------------------------*/

#body-home
  #section-hero
    text-align left
    padding 6em 0 3em
    clearfix()
    .container
      padding 0 3em

    .text
      float left
      width 50%

    h1
      font-size 5em
    p
      font-size 3em
      display inline
      line-height 1.125em

    form
      margin-top 1em
      margin-right 4em
      float right

  #section-intro
    .container
      padding 0 3em
    p
      font-size 1.5em
      max-width 1024px
      margin-bottom 0
      &.first
        font-size 1.75em
        font-weight 500

  #section-video
    .container
      max-width none

  #section-architecture
    padding-bottom 0

    .container
      padding 0

    .section-header
      h2
        width 768px

    .content
      display flex
      .anchor-img
        flex 1
        float left
        padding 0 1em 1.5em
        img
          height 360px
          width auto

      .text
        flex 2
        border-left 1px dotted bc
        padding 0 2em 1.5em
        p
          text-align left
          font-size 1.25em

  #section-resources
    clearfix()

    .container
      padding-right 0

    .content
      display flex
      flex-flow row wrap
      padding 0 0.5em
      margin 0 -1em

      .panel
        flex 1
        margin 0 0.5em
        .panel-header
          padding 0 x*0.75
          h3
            font-size 1.25em
            font-weight normal
            line-height 3em
        ul
          li
            padding-left 0.75em

/*----------------------------------------------------------------------
Body - About
----------------------------------------------------------------------*/

#body-about
  ul#ul-team
    margin 0

/*----------------------------------------------------------------------
Body - Blog
----------------------------------------------------------------------*/

.body-article
  #section-hero
    padding-top 5em
    padding-bottom 3em

a.footer-large-button
  margin 4em 0 0
