/*----------------------------------------------------------------------
Sections & Containers
----------------------------------------------------------------------*/
.section-thirds
  .column
    h2
      .short
        display none
      .long
        display block
