/*----------------------------------------------------------------------
Typography
----------------------------------------------------------------------*/

/*----------------------------------------------------------------------
 Site Header & Footer
----------------------------------------------------------------------*/

logo-size = 38px

.site-logo
  margin-left -0.75 * logo-size
  width logo-size * 1.5
  height logo-size * 1.5 + 4px
  img
    margin logo-size * 0.25
    width logo-size
    height logo-size

.site-bookend
  font-size x
  height x*3 + 3px
  line-height 3em

// reduce the fonts size of the footer because the text length is still too long
#site-footer
  font-size x*0.75
  line-height x*3

#site-header
  ul
    width 120px * 1.2

/*----------------------------------------------------------------------
Sections
----------------------------------------------------------------------*/

section
  .container
    padding 0 12px

.article-prev-next
  margin 0 0 12px

/*----------------------------------------------------------------------
Body - Home
----------------------------------------------------------------------*/

#body-home
  h1
    font-size 3.5em

  #section-hero
    p
      font-size 1.6em

    input, button
      margin-bottom 0.8em

  ul#ul-team
    margin -12px 0 0
    padding 6px
    li
      padding 6px
      margin 0 0 10px

/*----------------------------------------------------------------------
Body - Blog
----------------------------------------------------------------------*/

.site-articles
  #section-hero
    h1
      font-size 2em * 1.17
    p
      font-size 1em * 1.17
    ul.categories li a
      font-size 0.75em * 1.17

a.footer-large-button
  line-height 3em
