/*----------------------------------------------------------------------
Typography
----------------------------------------------------------------------*/
/*----------------------------------------------------------------------
Site Header
----------------------------------------------------------------------*/

#site-footer
  font-size x
  line-height x*3

#site-header
  ul
    width 120px * 1.3

/*----------------------------------------------------------------------
Sections
----------------------------------------------------------------------*/

section
  .container
    padding 0 1em

/*----------------------------------------------------------------------
Body - Home
----------------------------------------------------------------------*/

#body-home
  h1
    font-size 4em

  #section-hero
    p
      font-size 1.75em
    input, button
      margin-bottom 0.9em

  ul#ul-team
    margin -1em 0 0
    padding .5em
    li
      padding .5em
      margin 0 0 1em

/*----------------------------------------------------------------------
Body - Blog
----------------------------------------------------------------------*/

.body-blog
  #section-hero
    h1
      font-size 2em * 1.3
    p
      font-size 1em * 1.3
