/*----------------------------------------------------------------------
Typography
----------------------------------------------------------------------*/
/*----------------------------------------------------------------------
Site Header
----------------------------------------------------------------------*/

logo-size = 48px

.site-logo
  margin-left -0.75 * logo-size
  width logo-size * 1.5
  height logo-size * 1.5 + 4px
  img
    margin logo-size * 0.25
    width logo-size
    height logo-size

#site-header
  ul
    width 120px * 1.6

/*----------------------------------------------------------------------
Sections
----------------------------------------------------------------------*/

section
  .container
    padding 0 1.5em

a.article-prev-next
  margin 0 0 1.5em
  .arrow
    line-height 4.5*x + 1.5*0.25*x
  .title
    font-size 1.25em

#section-social-media
  ul
    flex-flow row wrap
    li
      flex 1 0 50%
      a
        padding 0
        h3
          border-bottom 1px solid lighten(mcolor,10%)
          padding 0.75em 1em
        p
          padding 0.75em 1em

/*----------------------------------------------------------------------
Body - About
----------------------------------------------------------------------*/

#body-about
  ul.ul-portraits
    margin -1.5em 0 0
    padding 0.75em
    li
      padding 0.75em
      margin 0
      span.name
        font-size 1.125em

/*----------------------------------------------------------------------
Body - Blog
----------------------------------------------------------------------*/

.site-articles
  #section-hero
    h1
      font-size 2em * 1.5
      font-weight 500
    p
      font-size 1em * 1.5

  #section-post
  #section-posts
    p, ul, ol, blockquote, table
      font-size 1.125em

.body-articles
  #section-hero
    padding 4em 0 3em
  h2
    font-size 1.666em

.body-article
  #section-hero
    padding 3em 0 2em

  #section-post
    h2
      font-size 2em
    h3
      font-size 1.5em

a.footer-large-button
  border-width 4px
