/*----------------------------------------------------------------------
Typography
----------------------------------------------------------------------*/
/*----------------------------------------------------------------------
Site Header
----------------------------------------------------------------------*/

logo-size = 48px

.site-logo
  margin-left -0.75 * logo-size
  width logo-size * 1.5
  height logo-size * 1.5 + 4px
  img
    margin logo-size * 0.25
    width logo-size
    height logo-size

#site-header
  ul
    width 120px * 1.6

/*----------------------------------------------------------------------
Sections
----------------------------------------------------------------------*/

section
  .container
    padding 0 1.5em

a.article-prev-next
  margin 0 0 1.5em
  .arrow
    line-height 4.5*x + 1.5*0.25*x
  .title
    font-size 1.25em

/*----------------------------------------------------------------------
Body - Home
----------------------------------------------------------------------*/

#body-home
  h1
    font-size 4em
    font-weight bold

  #section-hero
    input, button
      margin-bottom 1em

  ul#ul-team
    margin -1.5em 0 0
    padding 0.75em
    li
      padding 0.75em
      margin 0

/*----------------------------------------------------------------------
Body - Blog
----------------------------------------------------------------------*/

#body-blog-index
#body-blog-post
  #section-hero
    h1
      font-size 2em * 1.5
      font-weight bold
    p
      font-size 1em * 1.5

  #section-post
  #section-posts
    p, ul, ol, blockquote, table
      font-size 1.125em

#body-blog-index
  #section-hero
    padding 4em 0 3em
  h2
    font-size 1.666em

#body-blog-post
  #section-hero
    padding 3em 0 2em

  #section-post
    h2
      font-size 2em
    h3
      font-size 1.5em
