/*----------------------------------------------------------------------
Typography
----------------------------------------------------------------------*/
/*----------------------------------------------------------------------
Site Header
----------------------------------------------------------------------*/

logo-size = 40px

.site-logo
  margin-left -0.75 * logo-size
  width logo-size * 1.5
  height logo-size * 1.5 + 4px
  img
    margin logo-size * 0.25
    width logo-size
    height logo-size

#site-header
  ul
    width 120px * 1.6

/*----------------------------------------------------------------------
Sections
----------------------------------------------------------------------*/

section
  .container
    padding 0 1.5em

/*----------------------------------------------------------------------
Body - Home
----------------------------------------------------------------------*/

#body-home
  h1
    font-size 4em

  #section-hero
    input, button
      margin-bottom 1em

  ul#ul-team
    margin -1.5em 0 0
    padding 0.75em
    li
      padding 0.75em
      margin 0
