/*----------------------------------------------------------------------
Site Header
----------------------------------------------------------------------*/

logo-size = 40px

.site-logo
  margin-left -0.75 * logo-size
  width logo-size * 1.5
  height logo-size * 1.5 + 4px
  img
    margin logo-size * 0.25
    width logo-size
    height logo-size

/*----------------------------------------------------------------------
Sections
----------------------------------------------------------------------*/

section
  padding 2em 0
  h2 /* Stay updated with Tendermint News */
    font-size 1.75em
    width 580px
    margin 0 auto x*2

.container
  padding 0 1.5em
  width 768px
  margin 0 auto

a.article-prev-next
  margin 0 0 1.5em
  .arrow
    line-height 5*x + 1.5*0.5*x + 1.5*0.25*x
    font-size 3em
    width x*4
  .text
    padding 1em
  .label
    font-size 1.25em
  .title
    font-size 1.5em
    font-weight 500

/*----------------------------------------------------------------------
Body - Home
----------------------------------------------------------------------*/

#body-home
  #section-hero
    input, button
      margin-bottom 1em

  #section-intro
    p
      font-size x * 1.125
      &.first
        font-size x* 1.333

  #section-video
    iframe
      display block
      width 768px
      height 432px

/*----------------------------------------------------------------------
Body - About
----------------------------------------------------------------------*/

#body-about
  ul#ul-team
    margin -1em 0 0
    padding 0.75em
    li
      flex 1 0 25%
      padding 0.75em
      margin 0

/*----------------------------------------------------------------------
Body - Blog
----------------------------------------------------------------------*/

.site-articles
  #section-hero
    h1
      font-size 2em * 1.75em
    p
      font-size 1em * 1.75em
    ul.categories
      font-size 0.75em * 1.75em

.body-articles
  #section-posts
    // make sure last article doesn't have too much padding
    margin-bottom -1.5em
    .container
      max-width 60em

    article
      border 1px solid mborder
      padding 1em
      margin 0 auto 1.5em
      h2
        font-size 1.75em
        font-weight bold
        width auto

.body-article
  .article-body
    h2
      font-size 1.5em * 1.25
    h3
      font-size 1.25em * 1.25
    p, ul, ol, blockquote, table
      font-size 1.125em * 1.125
