/*----------------------------------------------------------------------
Site Header
----------------------------------------------------------------------*/

logo-size = 40px

.site-logo
  margin-left -0.75 * logo-size
  width logo-size * 1.5
  height logo-size * 1.5 + 4px
  img
    margin logo-size * 0.25
    width logo-size
    height logo-size

/*----------------------------------------------------------------------
Sections & Containers
----------------------------------------------------------------------*/

section
  padding 2em 0
  h2
    font-size 1.75em
    width 480px
    margin 0 auto x*2

.container
  padding 0 1.5em
  width 768px
  margin 0 auto

/*----------------------------------------------------------------------
Homepage
----------------------------------------------------------------------*/

#section-hero
  input, button
    margin-bottom 1em

#section-intro
  p
    font-size 1.125em

  p:first-of-type
    font-size 1.333em

ul#ul-team
  margin -1.5em 0 0
  padding 0.75em
  li
    padding 0.75em
    margin 0
