/*----------------------------------------------------------------------
Site Header
----------------------------------------------------------------------*/

logo-size = 40px

.site-logo
  margin-left -0.75 * logo-size
  width logo-size * 1.5
  height logo-size * 1.5 + 4px

/*----------------------------------------------------------------------
Sections
----------------------------------------------------------------------*/

section
  padding 2em 0
  h2 /* Stay updated with Tendermint News */
    font-size 1.5em
    font-weight bold
    width 580px
    margin 0 auto x*2

#section-hero
  padding 4*x + 48px 0 2.5*x
  h1
    margin 0 0 x
    font-size x*3
  p
    font-size 1.5*x

.section-dark
  .container
    display flex
    flex-flow column

  #mc-embedded-subscribe-form
    max-width 24*x
    .input-group
      input, button
        font-size x*1.5
        height x*3
        line-height x*3 - 2px
        vertical-align top
        width 100%

.container
  padding 0 1.5em
  width 768px
  margin 0 auto

a.article-prev-next
  margin 0 0 1.5em
  .arrow
    line-height 5*x + 1.5*0.5*x + 1.5*0.25*x
    font-size 3em
    width x*4
  .text
    padding 1em
  .label
    font-size 1.25em
  .title
    font-size 1.5em
    font-weight 500

/*----------------------------------------------------------------------
Body - Home
----------------------------------------------------------------------*/

#body-home
  section#section-hero-home
    h1
      font-size 4.5em

    #tagline
      font-size 1.5em

    #intro
      max-width 21em
      font-size 2em

    .social-media
      margin-top x*4
      a
        font-size 2em

    #home-arrow-down
      font-size x*2
      line-height x*3

/*----------------------------------------------------------------------
Body - About
----------------------------------------------------------------------*/

#body-about
  ul.ul-portraits
    margin -1em 0 0
    padding 0.75em
    li
      flex 1 0 25%
      padding 0.75em
      margin 0
      max-width 186px

/*----------------------------------------------------------------------
Body - Blog
----------------------------------------------------------------------*/

.site-articles
  #section-hero
    ul.categories
      font-size 0.75em * 1.75em

.body-articles
  #section-posts
    // make sure last article doesn't have too much padding
    margin-bottom -1.5em
    .container
      max-width 60em

    article
      border 1px solid bc
      padding 1em
      margin 0 auto 1.5em
      h2
        font-size 1.75em
        font-weight bold
        width auto

.body-article
  .article-body
    h2
      font-size 1.5em * 1.25
    h3
      font-size 1.25em * 1.25
    p, ul, ol, blockquote, table
      font-size 1.125em * 1.125
