// colors
mhue = 210
msat = 80%
mlit = 20%
mcolor = hsl(mhue,msat,mlit)

bc = #ddd
bc2 = #444

ahue = 140
asat = 100%
alit = 40%
acolor = hsl(ahue,asat,alit)
lcolor = hsl(mhue,msat,45%)
link = lcolor
anchor = lcolor

// type colors
txt = #333
dim = #666
light = #999

alertcolor = lighten(mcolor,20%)

onlinecolor = #0a0

.dim
  color dim
.light
  color light

subtle-gradient = linear-gradient(top, hsl(0,0,99%), hsl(0,0,93%))
