.panel
  border 1px solid bc
  margin 0 0 1.5em

  .panel-header
    padding 0 0.5em
    background lighten(mcolor,95%)
    line-height 2em
    border-bottom 1px solid bc

    a
      color lighten(mcolor,10%)
      font-weight 500

      i.fa
        padding-right 0.2em

  .panel-body
    li
      padding 0.5em
      border-bottom 1px solid bc
      margin 0
      &:last-of-type
        border-bottom none
      p
        margin 0
