a.footer-large-button
  display block
  line-height 2em
  font-size 1.25em
  text-align center
  border 2px solid bc
  margin 1.5em 0
  cursor pointer
  &:hover
    text-decoration none
    background lighten(bc,85%)
    border-color darken(bc,15%)
