.li-article
  border 1px solid bc
  margin-bottom x

  &:last-of-type
    margin-bottom 0

  .li-article-header
    padding x x 0.5*x

    h2
      line-height 1.25
      font-weight 500

  .li-article-content
    padding 0 x x

  .li-article-meta
    background hsl(0,0,95%)
    font-size 0.75*x
    border-top 1px solid bc
