#section-architecture
  a.anchor-img
    text-align center
    display block
    margin 0 auto
    img
      display block
      max-height 360px
      margin 0 auto

  ul.ul-boxed
    border 1px solid dbc
    background darken(mcolor,20%)
    padding 0 x
    li
      border-bottom 1px dotted dbc
      padding 0.666*x 0
      &:last-of-type
        border-bottom none

@media screen and (min-width: 768px)
  #section-architecture
    .section-container
      .section-content
        display flex

    a.anchor-img
      margin-right x


@media screen and (min-width: 960px)
  #section-architecture
    .section-container
      .section-content
        max-width 960px
        display flex
        a.anchor-img
          margin-right 1.5*x
          padding-right 1.5*x

    ul.ul-boxed
      padding 0.6666*x 1.5*x
      li
        padding 0.75*x 0
