#section-social-media
  border-top 4px solid lighten(mcolor,20%)
  border-bottom none
  ul
    display flex
    flex-flow column nowrap
    margin -0.5em 0 1em
    li
      text-align left
      display flex
      flex 1
      margin 0
      a
        margin 0.25em
        display block
        border 1px solid lighten(mcolor,10%)
        padding 0.55em 0.75em
        background lighten(mcolor,3%)
        flex 1
        h3
          color lighten(mcolor,75%)
          font-size x
          line-height 1.5em
          font-weight 500
          i.fa
            padding-right 0.2em
        p
          font-size x
          line-height 1.5em
          margin 0
        &:hover
          text-decoration none
          border-color lighten(mcolor,20%)
          h3
            color lighten(mcolor,85%)
          background lighten(mcolor,5%)
