#section-architecture
  a.anchor-img
    text-align center
    display block
    margin 0 auto
    img
      display block
      max-height 360px
      margin 0 auto

  ul
    text-align left
    padding 0 !important
    list-style none
    li
      border 1px solid lighten(mcolor,10%)
      padding 0.75em 1em
      background darken(mcolor,10%)
