#section-hero
  background mcolor url('../images/home/gradient.jpg') no-repeat center center
  background-size cover
  width 100vw
  height 100vh
  position relative

  .container
    width 100vw
    height 100vh

    display flex
    flex-flow column no-wrap
    align-items center
    justify-content center
    padding 0 1.5*x

  h1
    font-size 2.5*x
    font-weight 200
    color lighten(mcolor,90%)

  .tagline, .introduction
    margin 0 0 1.25*x

  .tagline
    color lighten(mcolor,50%)
    font-size 0.75*x
    text-transform uppercase
    font-weight 200
    letter-spacing 1px
    span.slash
      color lighten(mcolor,20%)

  .introduction
    color lighten(mcolor,50%)
    line-height 1.25*x
    text-align center

  .social-media
    display flex
    margin x auto 0
    a
      margin x*0.25

      width 2.5*x
      line-height 2.5*x
      color lighten(mcolor,60%)
      text-align center

  #home-arrow-down
    position absolute
    bottom 0
    left 0
    width 100vw

    font-size 1.5*x
    line-height 2*x
    color lighten(mcolor,50%)
    text-align center

  .social-media a, #home-arrow-down
    background hsla(mhue,msat,mlit - 20%,0.1)
    transition 0.2s ease all
    &:hover
      background hsla(mhue,msat,mlit - 20%,0.5)
      color lighten(mcolor,80%)
