#section-social-media
  ul
    li
      padding 0
      border none
      a
        display block
        border 1px solid lighten(mcolor,10%)
        padding 0.55em 0.75em
        background lighten(mcolor,3%)
        flex 1

        h3
          color lighten(mcolor,75%)
          font-size x
          i.fa
            padding-right 0.2em

        p
          font-size 0.75*x

        &:hover
          border-color lighten(mcolor,20%)
          background lighten(mcolor,5%)
          h3
            color lighten(mcolor,85%)
