.section-default
  .container
    padding x 0
    border-bottom 1px solid bc

    header.section-header
      display flex
      align-items center
      padding 0.5*x x 0.75*x

      i.fa
        margin-right 0.5*x
        background lighten(mcolor,25%)
        width 1.5*x
        border-radius 0.75*x

        font-size 0.666*x
        line-height 1.5*x
        text-align center
        color #fff

      h2
        font-weight bold
        color mcolor
        line-height 1.25*x
        span.short
          display inline
        span.long
          display none

    .content
      padding 0 x
      margin 0 0 0.5*x

  &.section-dark
    background mcolor linear-gradient(top, lighten(mcolor,5%), darken(mcolor,5%))

    .container
      border-bottom 1px solid lighten(mcolor, 10%)

      header.section-header
        justify-content center
        padding 0.5*x x x
        h2
          color lighten(mcolor,90%)

      p, ul, ol
        color lighten(mcolor,60%)

      ul
        li
          border 1px solid lighten(mcolor,10%)
          background lighten(mcolor,3%)

      a
        color lighten(mcolor,90%)
        &:hover
          color #fff
