#section-social-media
  ul
    li
      padding 0
      a
        display block
        padding 0.55em 0.75em
        flex 1

        h3
          color lighten(mcolor,75%)
          font-size x
          i.fa
            padding-right 0.2em

        &:hover
          background lighten(mcolor,10%)
          h3
            color lighten(mcolor,85%)
