.sections-dark
  background mcolor linear-gradient(top, lighten(mcolor,5%), darken(mcolor,5%))

  .container
    display flex
    flex-flow column
    align-items center

  h1
    line-height 1em
    margin x*3 0 0
    color lighten(mcolor,90%)

  h2
    color lighten(mcolor,90%)
    font-weight 500
    line-height 1.25em

  p, ul, ol
    color lighten(mcolor,60%)

  p
    max-width 30*x
    width 100%

    font-size 1.25em
    font-weight 200

  a
    color lighten(mcolor,80%)
    font-weight bold
