#site-footer
  border-top 1px solid hsl(mhue,msat,mlit + 8%)
  border-bottom 2px solid hsl(mhue,msat,10%)

  .site-logo
    bottom -2px
    border-bottom 4px solid darken(acolor,50%)

  p
    padding 0 1em
    margin 0
