#site-header
  position fixed
  top 0
  left 0
  z-index 100

  height 3*x
  background mcolor url('../images/home/gradient.jpg') no-repeat center top
  background-size cover

  width 100vw
  display flex

  a#nav-home
    display block
    img
      width 3*x
      height 3*x

  nav
    display flex
    padding 0 0.5*x
    a
      display block
      padding 0 0.5*x
      line-height 3*x
      color lighten(mcolor,50%)

#body-posts #nav-blog a
#body-post #nav-blog a
#body-tutorials #nav-tutorials a
#body-tutorial #nav-tutorials a
#body-about #nav-about a
#body-developers #nav-developers a
  border-top-color lighten(mcolor,50%)
