.ul-portraits
  clearfix()
  display flex
  flex-flow row wrap
  justify-content center

  margin 0 -0.5*x -0.5*x

  li
    flex 1 0 50%
    padding 0.5*x
    margin-bottom 0.25*x

  img
    width 100%
    border 1px solid darken(bc,50%)

  .label
    text-align center

  span.name, span.title
    display block

  span.name
    font-weight 500

  span.title
    line-height 1.25em
    font-size 0.9em
    color dim
