<!--
  This file is responsible for rendering a single tutorial.
-->

{{ template "chrome/header.html" . }}

<body id="body-tutorial" class="body-article site-articles">
  {{ template "chrome/site-header.html" . }}

  <section id="section-hero">
    <div class="container">
      <h1>{{ .Title }}</h1>
      <p>{{ .Date.Format "January 2, 2006" }}</p>
      {{ template "chrome/categories.html" . }}
    </div>
  </section>

  <section id="section-post">
    <!--
      This is where the actual tutorial is displayed.

      We first access the title metadata field from the markdown source and
      display it as a heading.

      We then access the date the tutorial was written (also in the markdown
      metadata) and display a formated version of it

      Finally we include the actual content of the tutorial.
    -->
    <div class="container article-body">
      {{ .Content }}
      <a class="footer-large-button">
        View <strong>All Tutorials</strong> &rsaquo;
      </a>
    </div>
  </section>

<!-- Include footer (ends <body class="theme-base-08"> and <html>) -->
{{ template "chrome/site-footer.html" }}
