// colors
mhue = 210
msat = 80%
mlit = 20%
mcolor = hsl(mhue,msat,mlit)

mborder = lighten(mcolor,85%)
bc = mborder

ahue = 140
asat = 100%
alit = 40%
acolor = hsl(ahue,asat,alit)

lcolor = hsl(mhue,msat,45%)
