sans = "San Francisco Sans", 'Helvetica Neue', Arial, Helvetica, sans-serif

x = 16px

txt = #222
dim = hsl(mhue,20%,35%)
light = hsl(mhue,60%,50%)

html
  -webkit-text-size-adjust 100%

body, input, button
  font-size x
  line-height 1.5
  font-family sans

strong
  font-weight bold

em
  font-style italic

a
  text-decoration none
  color lcolor

.container a:hover
  text-decoration underline

p, ul, ol
  margin 0 0 1.5em

li
  margin 0 0 0.5em

h1, h2, h3, h4, h5, h6
  margin 0
  padding 0
  font-weight normal

h1
  font-size 3em
  letter-spacing -1px
  color hsl(mhue,60%,90%)
  text-shadow hsl(mhue,msat,40%) 0 2px 0
  line-height 1em
  margin 0 0 0.2em

h2
  font-weight bold
  font-size 1.5em
  color mcolor
  font-weight 500

h3
  font-weight bold

h4
  font-weight 500
