<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <base href="{{ .Site.BaseURL }}">
    <title>Tendermint | About</title>
    <link rel="canonical" href="{{ .Permalink }}">
    <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}">
    <meta content="on" http-equiv="cleartype">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ template "chrome/favicons.html" . }}

    <link rel="stylesheet" type="text/css" media="screen" href="styles/screen.css">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body id="body-about">
    {{ template "chrome/site-header.html" . }}

    <section id="section-hero" class="section-dark">
    <div class="container">
      <h1>Mission</h1>
      <p>To be the best in speed, security, and scalability for the world&rsquo;s blockchains.</p>
      </div>
    </div>
    </section>

    <section id="section-about">
      <div class="section-header">
        <h2>The Tendermint Team</h2>
      </div>

      <div class="section-content">
        <ul id="ul-team">
          <li>
          <img class="portrait" src="/images/team/jae-01.jpg" alt="Jae Kwon">
          <div class="label">
            <span class="name">Jae Kwon</span>
            <span class="title">CEO</span>
            <span class="title">Founder</span>
          </div>
          </li>
          <li>
          <img class="portrait" src="/images/team/dustin-01.jpg" alt="Dustin Byington">
          <div class="label">
            <span class="name">Dustin Byington</span>
            <span class="title">President</span>
            <span class="title">Cofounder</span>
          </div>
          </li>
          <li>
          <img class="portrait" src="/images/team/ethan-01.jpg" alt="Ethan Buchman">
          <div class="label">
            <span class="name">Ethan Buchman</span>
            <span class="title">CTO</span>
            <span class="title">Cofounder</span>
          </div>
          </li>
          <li>
          <img class="portrait" src="/images/team/peng-01.jpg" alt="Peng Zhong">
          <div class="label">
            <span class="name">Peng Zhong</span>
            <span class="title">CDO</span>
          </div>
          </li>
        </ul>
      </div>
    </div>
    </section>

{{ template "chrome/site-footer.html" }}
