<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <base href="{{ .Site.BaseURL }}">
    <title>Tendermint | About</title>
    <link rel="canonical" href="{{ .Permalink }}">
    <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}">
    <meta content="on" http-equiv="cleartype">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--favicons-->
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifesjson">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" type="text/css" media="screen" href="styles/screen.css">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body id="body-about">
    {{ template "chrome/site-header.html" . }}

    <section id="section-hero" class="section-dark">
    <div class="container">
      <h1>Mission</h1>
      <p>To be the best in speed, security, and scalability for the world&rsquo;s blockchains.</p>
      </div>
    </div>
    </section>

    <section id="section-about">
      <div class="section-header">
        <h2>The Tendermint Team</h2>
      </div>

      <div class="section-content">
        <ul id="ul-team">
          <li>
          <img class="portrait" src="/images/team/jae-01.jpg" alt="Jae Kwon">
          <div class="label">
            <span class="name">Jae Kwon</span>
            <span class="title">CEO</span>
            <span class="title">Founder</span>
          </div>
          </li>
          <li>
          <img class="portrait" src="/images/team/dustin-01.jpg" alt="Dustin Byington">
          <div class="label">
            <span class="name">Dustin Byington</span>
            <span class="title">President</span>
            <span class="title">Cofounder</span>
          </div>
          </li>
          <li>
          <img class="portrait" src="/images/team/ethan-01.jpg" alt="Ethan Buchman">
          <div class="label">
            <span class="name">Ethan Buchman</span>
            <span class="title">Blockchain Engineer</span>
            <span class="title">Cofounder</span>
          </div>
          </li>
          <li>
          <img class="portrait" src="/images/team/peng-01.jpg" alt="Peng Zhong">
          <div class="label">
            <span class="name">Peng Zhong</span>
            <span class="title">Front-End Engineer</span>
          </div>
          </li>
        </ul>
      </div>
    </div>
    </section>

{{ template "chrome/site-footer.html" }}
