.blocks
  padding-top x

.block
  display flex
  margin-bottom 2*x

  i.fa
    font-size 1.5*x
    display block

    width 3*x
    height 3*x
    background #eee

    display flex
    justify-content center
    align-items center

  .text
    flex 1
    padding 0 x

  .key
    margin 0 0 0.5*x
    font-weight 600
    font-size 1.125*x
  .value
    color dim

@media screen and (min-width: 360px)
  .block
    i.fa
      width 3.5*x
      height 3.5*x
      font-size 1.75*x
      
    .text
      padding 0 1.5*x

@media screen and (min-width: 400px)
  .block
    i.fa
      width 4*x
      height 4*x
      font-size 2*x

@media screen and (min-width: 720px)
  .blocks
    padding-top 2*x
  .block
    max-width 640px
    margin-left auto
    margin-right auto
    margin-bottom 3*x

    i.fa
      font-size 3*x
      width 5*x
      height 5*x
      background #fff

    .key
      font-size 1.25*x

@media screen and (min-width: 960px)
  .blocks
    padding-top 3*x
  .block
    max-width 800px
    margin-bottom 4.5*x
    i.fa
      font-size 3*x
      width 5*x
      height 5*x
    .key
      font-size 1.5*x
      margin-bottom x

    .value
      font-size 1.25*x
