.master-detail
  padding-top 2.4*x
  min-height 100vh

.detail
  padding 0 x
  h1
    font-size 2*x
    line-height 1

    font-weight bold

    border-bottom 4px solid bc
    margin-bottom 2*x
    padding 2*x 0 1.5*x

    i.fa
      margin-right 0.5*x
      color lighten(mcolor,50%)

.master 
  nav
    display none

  &.inline
    border 1px solid bc
    border-top none
    margin 0 auto
    max-width 48em

    nav
      display block

    .thumb-button
      display none

  &:not(.inline).active
    display block
    position fixed
    top 0
    left 0
    z-index 10

    width 100vw
    height 100vh
    padding-top 3*x

    background #fff
    border-right 1px solid bc
    nav
      display block

  .title
    border-top 1px solid bc
    font-size 0.875*x
    font-weight 500
    background #eee
    color dim
    line-height 2*x
    padding 0 x
    color txt
    box-shadow inset #fff 0 1px 0
  a
    display block
    padding 0.75*x x
    border-top 1px solid bc
    position relative
    font-weight 500
    color link

    &:after
      content '\f105'
      font-family FontAwesome
      line-height 1.5
      text-align center
      display block
      line-height 3*x
      width 3*x
      position absolute
      top 0
      right 0
      color lighten(link,50%)

    &.router-link-active
      color txt
      &:after
        color txt

@media screen and (min-height: 400px)
  .master-detail
    padding-top 3*x

@media screen and (min-width: 720px)
  .thumb-button
    display none

  .master.inline
    margin-top 1.5*x
    margin-bottom 1.5*x

  .master-detail
    display flex

  .master:not(.inline).active
    position static
    flex 0 0 240px
    padding-top 0

  .detail
    flex 1

@media screen and (min-width: 960px)
  .master:not(.inline).active
    position static
    flex 0 0 320px
