.master-detail
  padding-top 2.4*x
  min-height 100vh

.detail
  padding 0 x x
  h1
    font-size 2*x
    line-height 1.25

    font-weight 500

    border-bottom 3px solid bc
    margin-bottom 2*x

    display flex
    align-items center

    padding 2*x 0

.master 
  border-right 1px solid bc

  nav
    background hsla(0,50%,100%,90%)
    position relative
    height 100vh
    overflow hidden

  &.inline
    border 1px solid bc
    border-top none
    margin 0 auto
    max-width 48em
    width auto

    .thumb-button
      display none

  &.mobile-active
  &.mobile-inactive
    position fixed
    top 0
    left 0
    width 100vw

    z-index 10

    nav
      padding-top 3*x
      position relative

    .thumb-button
      display block

  &.mobile-active nav
    display block

  &.mobile-inactive nav
    display none

  .title
    border-top 1px solid bc
    font-size 0.875*x
    font-weight 500
    background #eee
    color dim
    line-height 2*x
    padding 0 x
    color txt
    box-shadow inset #fff 0 1px 0

  a
    display block
    padding 0.75*x 3*x 0.75*x x
    border-top 1px solid bc
    position relative
    font-weight 500
    color link

    &:after
      content '\f105'
      font-family FontAwesome
      line-height 1.5
      text-align center
      display block
      line-height 3*x
      width 3*x
      position absolute
      top 0
      right 0
      color lighten(link,50%)

    &.router-link-active
      color #fff
      background mcolor url('../assets/images/home/gradient.jpg') no-repeat top left
      &:after
        color #fff

@media screen and (min-height: 400px)
  .master-detail
    padding-top 3*x

@media screen and (min-width: 720px)
  .master
    &.mobile-active
    &.mobile-inactive
      width 240px
    &.inline
      margin-top 1.5*x
      margin-bottom 1.5*x

    .thumb-button
      display none !important

  .detail
    margin-left 240px
    padding-left 2*x
    padding-right 2*x
    h1
      padding 4*x 0 2*x

@media screen and (min-width: 960px)
  .master
    &.mobile-active
    &.mobile-inactive
      width 320px

  .detail
    margin-left 320px
    padding-left 4*x
    padding-right 4*x
