.master-detail
  padding-top 2.4*x
  min-height 100vh

.detail
  padding 0 x x

.master 
  nav
    background #fff
    background hsl(0,0,97%)
    padding-bottom x*0.75

  &.inline
    margin 0 auto
    max-width 48em
    width auto

    nav
      border 1px solid bc
      border-top none
    .thumb-button
      display none

  &.mobile-active
  &.mobile-inactive
    position fixed
    top 0
    left 0
    width 100vw


    nav
      padding-top 3*x
      position relative
      height 100vh
      overflow hidden

      z-index 10

    .thumb-button
      display block

  &.mobile-active nav
    display block

  &.mobile-inactive nav
    display none

  .title
    padding 0 x

    color light

    font-size 0.75*x
    font-weight bold
    text-transform uppercase
    letter-spacing 0.0625em
    line-height 2*x
    padding-top x*0.75

  a + .title
    margin-top 0.75*x
  a
    display block
    padding 0.25*x 3*x 0.25*x 0.75*x
    position relative
    font-weight 500
    color link
    border-left 0.25*x solid transparent

    &:after
      content '\f105'
      font-family FontAwesome
      line-height 1.5
      text-align center
      display block
      line-height 3*x
      width 3*x
      position absolute
      top 0
      right 0
      color lighten(link,50%)
      display none

    &.router-link-active
      border-left-color mcolor
      color txt
      &:after
        display none

@media screen and (min-height: 400px)
  .master-detail
    padding-top 3*x

@media screen and (min-width: 720px)
  .master
    &.mobile-active
    &.mobile-inactive
      width 240px
    &.inline
      margin-top 1.5*x
      margin-bottom 1.5*x
      nav
        margin 0 x

    .thumb-button
      display none !important

  .detail
    margin-left 240px
    padding-left 2*x
    padding-right 2*x

@media screen and (min-width: 960px)
  .master
    &.mobile-active
    &.mobile-inactive
      width 320px

  .detail
    margin-left 320px
    padding-left 4*x
    padding-right 4*x
    padding-bottom 4*x
