.nav-blocks 
  border 1px solid bc
  border-bottom none

  max-width 44em
  margin 0 auto
  a
    display block
    padding 0.75*x x
    border-bottom 1px solid bc
    position relative

    &:after
      content '\f105'
      font-family FontAwesome
      line-height 1.5
      text-align center
      display block
      line-height 3*x
      width 3*x
      position absolute
      top 0
      right 0
