.panels
  display flex
  flex-flow column
  margin -0.5*x

.panel
  padding x
  max-width 60*x

  .panel-header
    border-bottom 1px solid bc
    padding 0 0 0.75*x

    .panel-title a
      display block
      color light
      font-weight bold
      text-align center

  .panel-body
    text-align center
    a
      display block
      position relative

      position relative
      z-index 2

      margin 1.5*x 0

      .key
        line-height 1.25
        margin 0 0 0.25*x
        font-weight 500
        color txt

      .value
        color dim

@media screen and (min-width: 720px)
  .panels
    flex-flow row wrap
    justify-content center

    .panel
      padding x 1.5*x
      flex 1 0 50%
      .panel-header
        padding x 0
      .panel-body a
        margin 2*x 0

@media screen and (min-width: 1200px)
  .panels
    .panel
      flex 1 0 33.3333%
