.page-header
  position relative
  margin-top 2.4*x
  padding 3*x 2*x

  display flex
  align-items center
  flex-flow column nowrap

  h1, p
    text-align center

  h1
    font-size 2*x
    line-height 1
    margin-bottom 0.75*x
    letter-spacing -0.025em
    color lighten(mcolor,90%)
    font-weight 400
    max-width 40*x
    font-weight 600

  p
    color lighten(mcolor,50%)
    line-height 1.25*x
    max-width 22*x

    strong
      font-weight 500
      color lighten(mcolor,65%)

    a
      color lighten(mcolor,75%)
      background hsla(0,0,0,0.2)
      padding 0 0.25*x
      &:hover
        color #fff

@media screen and (min-height: 400px)
  .page-header
    margin-top 3*x

@media screen and (min-width: 960px)
  .page-header


    align-items flex-start
    padding 3*x
    h1, p
      text-align left

    &.page-header-wide
      padding 3*x 0
      max-width 48em
      margin-left auto
      margin-right auto
      h1
        max-width 30*x
        font-weight 600
