<!--
  This file is used to render a list of all posts that belong to a specific
  category.
-->
{{ template "chrome/header.html" . }}

<body class="site-articles body-articles">
  {{ template "chrome/site-header.html" . }}

  <section id="section-hero" class="section-dark">
    <h1>&ldquo;{{ .Title }}&rdquo;</h1>
    <p>Category</p>
  </section>

  <section id="section-posts">
    <div class="container">
      <ul>
        {{ range .Data.Pages }}
        {{ .Render "li"}}
        {{ end }}
      </ul>
    </div>
  </section>

<!-- Include footer (ends <body> and <html>) -->
{{ template "chrome/site-footer.html" }}
