#body-about
  #section-hero
    padding 3.5em 0 2.5em

  #section-about
    h2
      text-align center
      margin-bottom 10px
    p
      font-size: 1.8em

    .container
      padding 0

  ul#ul-team
    clearfix()
    margin -10px 0 0
    padding 5px
    display flex
    flex-flow row wrap
    li
      flex 1 0 50%
      padding 5px
      margin-bottom x*0.75

    img
      width 100%

    span
      display block

    span.name
      font-weight bold

    span.title
      line-height 1.25em
      font-size 0.9em
      color dim
