#body-home
  #section-hero-home
    background mcolor
    background linear-gradient(top, lighten(mcolor,5%), darken(mcolor,5%))
    padding 4em 0 3em
    text-align center
    //width 100vw
    //height 100vh

    .container
      padding 0 1.5em

    h1
      margin 0 0 x*0.5

    p#tagline
      color lighten(mcolor,80%)
      span.slash
        color lighten(mcolor,20%)
        font-weight 200

  #section-architecture
    text-align center

    .anchor-img
      display inline-block

  #section-resources
    display block

    .content
      ul
        list-style none
        padding 0
        margin 0

  #section-video
    iframe
      display block
      width 100vw
      height (100/16*9)vw
