#body-home
  section#section-hero-home
    background mcolor url('../images/home/gradient.jpg') no-repeat center center
    background-size cover
    text-align center
    width 100vw
    height 100vh
    position relative

    .container
      width 100vw
      height 100vh
      display flex
      align-items center
      justify-content center
      padding 0 1.5em

    h1
      margin 0 0 x*0.5

    #tagline
    #intro
      margin 0 0 1.5em

    #tagline
      color lighten(mcolor,70%)
      font-size 1em
      text-transform uppercase
      font-weight 200
      font-size 0.8em
      letter-spacing 1px
      span.slash
        color lighten(mcolor,20%)

    #intro
      line-height 1.25em

    .social-media
      display flex
      margin 0 auto
      margin-top 1.5em
      a
        margin x*0.25
        display block

        background hsla(mhue,msat,mlit - 20%,0.5)
        background hsla(0,0,0,0.25)

        font-size 1em
        width 2em
        line-height 2em
        color lighten(mcolor,60%)

    #home-arrow-down
      position absolute
      bottom 0
      left 50%

      background darken(mcolor,20%)
      background hsla(0,0,0,0.25)
      line-height x*1.5
      width x*8
      margin-left x*-4

      color lighten(mcolor,60%)
      font-size x*1.5

    .social-media a, #home-arrow-down
      transition 0.2s ease all
      &:hover
        background hsla(0,0,0,0.5)
        color lighten(mcolor,80%)

  #section-architecture
    a.anchor-img
      text-align center
      display block
      margin 0 auto
      img
        display block
        max-height 360px
        margin 0 auto

    ul
      text-align left
      padding 0 !important
      list-style none
      li
        border 1px solid lighten(mcolor,10%)
        padding 0.75em 1em
        background darken(mcolor,10%)

  #section-resources
    display block

    .content
      ul
        list-style none
        padding 0
        margin 0

  #section-video
    border-bottom none
    iframe
      display block
      width 100vw
      height (100/16*9)vw
      max-width 720px
      max-height 405px
      margin 0 auto
