#body-home
  #section-hero
    padding 4.5em 0 3.5em

    h1
      line-height 1.2em

    .text
      margin 0 0 3em

  #section-architecture
    text-align center

    .anchor-img
      display inline-block

  #section-resources
    display block

    .content
      ul
        list-style none
        padding 0
        margin 0

  #section-video
    iframe
      display block
      width 100vw
      height (100/16*9)vw
