#body-blog

  #section-hero
    padding 2em 1em 1em
    border-bottom 8px solid lighten(mcolor,10%)
    h1
      font-size 2em

  ul.categories
    li
      display inline-block
      background hsl(ahue,asat,alit)
      box-shadow hsl(ahue,asat,30%) 0 4px 0
      padding 0 0.5em
      a
        color #fff

