#body-home
  h2
    text-align center

  #section-hero
    padding 4.5em 0 3.5em

    .text
      margin 0 0 3em

  #section-intro
    background lighten(mcolor,90%)
    color mcolor

    background hsl(mhue,msat,mlit - 5%)
    color lcolor
    p.first
      font-size 1.2em
      text-shadow #000 0 1px 0
      border-bottom 2px solid darken(lcolor,55%)
      margin 0 0 1em
      padding 0 0 1em
      color hsl(mhue,msat,90%)
      color lighten(lcolor,50%)

  #section-team
    .container
      padding 0

  ul#ul-team
    clearfix()
    margin -10px 0 0
    padding 5px
    li
      float left
      margin 0
      width 50%
      padding 5px
      margin 0 0 11px

    img
      width 100%

    span
      display block

    span.name
      font-weight bold

    span.title
      line-height 1.25em
      font-size 0.9em
      color dim

  #section-resources
    display block
