.site-articles
  ul.categories
    clearfix()
    margin 0
    li
      display block
      float left
      margin-right 0.33em
      a
        display block
        color light
        background hsl(mhue,msat,90%)
        padding 0 0.5em
        line-height 2em
        font-size 0.75em
        font-weight bold

.body-articles
  #section-hero
    padding 3em 0 2em
    border-bottom 8px solid lighten(mcolor,10%)

    h1
      text-align center
      font-size 2em
      padding 0 0.25em

    p
      font-size 1em

  #section-posts
    article
      margin 0 0 1.5em

      .date
        font-size 0.75em
        color dim
        margin 0
      h2
        line-height 1.25em
        margin 0 0 0.125em
        text-align left

      p
        margin 0 0 0.5em

      .date
        display inline-block
        color dim
        background hsl(0,0,95%)
        line-height x*1.5
        padding 0 0.3em

.body-article
  #section-hero, #section-post
    .container
      max-width 60em
      &#article-prev-next
        max-width 1280px

  #section-hero
    padding 2em 0 1.5em
    border-bottom 1px solid mborder

    h1
      font-size 2em
      color txt
      text-shadow none
      font-weight bold
      color mcolor

    p
      font-size 1em
      margin 0 0 0.5em
      color dim

    ul.categories
      li
        margin-bottom 0
