@require './variables.styl'
@require './vendor/*'

global-reset()

*
  box-sizing border-box

body
  df()
  background c-app-bg

a
  color link
  text-decoration none

body, input, button, textarea
  font-size x
  line-height 1.5
  font-family sans

@require './partials/*'
