@require './variables.styl'
@require './vendor/font-awesome.styl'
@require './vendor/font-awesome-adblock-bypass.styl'
@require './vendor/perfect-scrollbar.styl'
// @require './vendor/highlight-github.styl'

global-reset()

*
  box-sizing border-box

body
  df()
  background c-site-bg

a
  color link
  text-decoration none

body, input, button, textarea
  font-size x
  line-height 1.5
  font-family sans

.amp
  font-style italic
  font-family Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif
  font-weight normal

@require './forms/*'
@require './partials/section.styl'
@require './partials/section-top.styl'
@require './partials/panel.styl'
@require './partials/youtube.styl'
@require './partials/li-article.styl'
@require './partials/article-body.styl'
@require './partials/master-detail.styl'
@require './partials/block.styl'
