#section-social-media
  background mcolor
  .section-container
    border-bottom-color darken(mcolor, 10%)

#section-social-media ul.ul-social-media
  margin -0.25*x

  display flex
  flex-flow column no-wrap
  li
    padding 0.25*x
    background transparent
    border none

    flex 1
    display flex
    a
      padding 0.75*x x
      border 1px solid dbc

      flex 1
      display flex
      flex-flow column no-wrap

      h3
        color lighten(mcolor,85%)
        font-size x
        font-weight 600
        i.fa
          padding-right 0.2em

      .content
        flex 1

      &:hover
        background lighten(mcolor,5%)

@media screen and (min-width: 400px)
  #section-social-media ul.ul-social-media
    li
      a
        h3
          border-bottom 1px dotted lighten(mcolor,15%)
          padding-bottom 0.5*x
          margin-bottom 0.5*x

@media screen and (min-width: 768px)
  #section-social-media ul.ul-social-media
    flex-flow row wrap
    li
      flex 1 0 50%
      padding 0.5*x
      a
        padding-top 1.25*x
        padding-bottom 1.25*x

@media screen and (min-width: 1024px)
  #section-social-media ul.ul-social-media
    li
      flex 1 0 25%
      a
        padding-bottom 1.5*x
        h3
          padding-bottom 0.75*x
          margin-bottom 0.75*x
