#site-footer
  border-top 1px solid lighten(mcolor, 7%)

  height 3*x
  line-height 3*x
  background mcolor

  display flex
  justify-content space-between

  p
    padding 0 1em
    color lighten(mcolor,50%)

  a
    color lighten(mcolor,90%)
