@require 'nib'

global-reset()

*
  box-sizing border-box

@require './variables.styl'
@require './defaults/*'
@require './partials/*'
@require './forms/*'
@require './pages/*'
@require './vendor/*'
@require './font-awesome.styl'
@require './font-awesome-hacks.styl'
