.input-checkbox-group
  display flex
  flex-flow column nowrap

.checkbox
  display flex
  border-top 1px solid bc
  padding 0.5em 0
  height auto
  margin 0 0 0.25em

  input
    flex 0 0 1em
    margin 0 0.5em
    height x*3.75
    vertical-align middle

  label
    flex 1
    border-left 1px solid bc
    padding-left 0.66em
    cursor pointer

    ul
      display flex
      flex-flow row wrap
      li
        display flex

        &.title
          font-weight bold
          width 15em

        &.ip-address
          margin-right 1.5em

        .key
          font-size 0.75*x
          margin-right 0.5em
          color lighten(dim,50%)
          text-shadow none
          font-weight normal

        .value
          white-space nowrap
          overflow hidden
          text-overflow ellipsis
          max-width 24em
          mono()
          color dim
