.btn
  background #fff

  margin 0
  padding 0 1.5em

  height 2em
  font-weight 500
  color txt

  cursor pointer
  user-select none

  display flex
  justify-content center
  align-items center

  i.fa
    padding-right 0.5em

.btn-primary
  background lighten(mcolor, 20%)
  color #fff

.btn-small
  height x*1.5
  font-size x*0.75
  padding 0 x

.btn-large
  height x*3
  font-size 1.25*x
