.datatable
  width 100%
  border-collapse collapse

  th
    background linear-gradient(top, hsl(0,0,99%), hsl(0,0,97%))
    cursor pointer
    user-select none
    line-height 2em
    font-weight 500
    box-shadow inset 0 1px 0 #fff

  th, td
    padding 0.5em 1em
    border 1px solid bc

    .btn + .btn
      margin-left 0.5em

  tr 
    border-top 1px solid bc
    border-bottom 1px solid bc

  tr:nth-of-type(2n-1)
    background hsl(0,0,97%)

  th.active
    background darken(bc,25%)

  th.active .arrow
    opacity 1

  .arrow
    display inline-block
    vertical-align middle
    width 0
    height 0
    margin-left 5px
    opacity 0.66

  .arrow.asc
    border-left 4px solid transparent
    border-right 4px solid transparent
    border-bottom 4px solid txt

  .arrow.dsc
    border-left 4px solid transparent
    border-right 4px solid transparent
    border-top 4px solid txt
