.panel
  border 1px solid bc
  margin 0 0 1.5em

  .panel-header
    padding 0 0.5em
    background lighten(mcolor,95%)
    line-height 2em
    border-bottom 1px solid bc


    h3, h3 a
      font-weight 500
      color lighten(mcolor,10%)
    h3 a:hover
      color link

      i.fa
        padding-right 0.2em

  .panel-body
    ul
      list-style none
      padding 0
      margin 0
    li
      padding 0.5em
      border-bottom 1px solid bc
      margin 0
      &:last-of-type
        border-bottom none
      p
        margin 0
