logo-size = 32px

.site-logo
  background acolor
  position absolute
  left 50%
  margin-left -0.75 * logo-size
  width logo-size * 1.5
  height logo-size * 1.5 + 4px

  img
    width 100%
    height 100%

.site-bookend
  clearfix()
  position relative
  height x*0.75*3 + 3px
  line-height 3em
  font-size x*0.75
  color lcolor

  a
    color hsl(mhue,msat,70%)

  &#site-header
    background hsla(mhue,msat,mlit - 5%, 0.9)

  &#site-footer
    background hsl(mhue,msat,mlit - 5%)

#site-header
  border-top 2px solid hsl(mhue,msat,10%)
  border-bottom 1px solid hsla(mhue,msat,mlit - 7%,0.9)
  position fixed
  top 0
  left 0
  z-index 100
  width 100%

  .site-logo
    top -2px
    border-bottom 4px solid darken(acolor,50%)
    box-shadow hsla(0,0,0,0.1) 0 1px 2px

  ul
    clearfix()
    width 120px
    margin 0
    li
      margin 0
      float left
      width 50%
      a
        display block
        text-align center
        border-top 2px solid hsl(mhue,msat,10%)
        margin-top -2px

#site-footer
  border-top 1px solid hsl(mhue,msat,mlit + 8%)
  border-bottom 2px solid hsl(mhue,msat,10%)

  .site-logo
    bottom -2px
    border-bottom 4px solid darken(acolor,50%)

  p
    padding 0 1em
    margin 0

#body-posts #nav-blog a
#body-post #nav-blog a
#body-tutorials #nav-tutorials a
#body-tutorial #nav-tutorials a
#body-about #nav-about a
#body-developers #nav-developers a
  border-top-color lighten(mcolor,50%)
