.article-body
  font-family times-stack
  font-size x

  a
    &:hover
      text-decoration underline

  strong
    font-weight bold

  em
    font-style italic

  code
    font-family Consolas, 'Deja Vu Sans Mono', 'Andale Sans Mono', monospace
    line-height 1.25em
    margin 0 0 1.5em


  /* These are technically the same, but use both */
  overflow-wrap break-word
  word-wrap break-word

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  hyphens auto

  p, ul, ol, table, blockquote, img
    margin 0 0 1.5em

  iframe
    display block
    margin 0 auto 1.5em

  p
    code
      background-color #F0F0F0
      padding 0
      padding-top 0.2em
      padding-bottom 0.2em
      margin 0
      font-size 85%
      border-radius 3px

      &:before, &:after
        letter-spacing -0.2em
        content "\00a0"
   img
      margin 0

  .left, .right
    margin-bottom 2.5em !important

  .left
    float left !important
    padding-right 2.5em !important
  .right
    float right !important
    padding-left 2.5em !important

  img
    max-width 100%

  h1, h2, h3, h4, h5, h6
    font-family sans

  h2
    text-align left
    font-size 1.5em
    line-height 1.25em
    margin 1.5em 0 1em
    padding-top 1em
    font-weight bold
    width 100%
    border-top 1px solid bc

  h3
    color mcolor
    font-size 1.25em
    line-height 1.25em
    font-weight bold
    margin 0 0 x

  ul + h3, p + h3, ol + h3
    margin-top x*2

  ul, ol
    padding-left 1.5em

  ul li
    list-style square
    margin 0 0 0.25em
  ol li
    list-style decimal

  table
    border 1px solid #ddd
    border-collapse collapse
    width 100%

    th
      font-weight bold
      background hsl(mhue,msat,95%)
      color mcolor

    td, th
      border 1px solid bc
      padding 0.25em .5em

  blockquote
    border-left 10px solid #ccc
    background #f9f9f9
    font 1em/1.5 sans
    margin 1.5em 0
    padding 0.5em 0.75em
    quotes "\201C""\201D""\2018""\2019"

  blockquote:before
    color #ccc
    content open-quote
    font-size 4em
    line-height 0.1em
    margin-right 0.25em
    vertical-align -0.4em

  blockquote p
    display inline


