placeholder-color = hsl(mhue,50%,75%)

// remove focus effect
input:focus, textarea:focus
  outline none

// WebKit, Blink, Edge
::-webkit-input-placeholder
  color placeholder-color

// Mozilla Firefox 4-18
:-moz-placeholder
  color placeholder-color
  opacity: 1

// Mozilla Firefox 19+ 
::-moz-placeholder
  color placeholder-color
  opacity 1

// Internet Explorer 10-11 
:-ms-input-placeholder
  color placeholder-color

input, button
  line-height 2em
  height 2.25em
  padding 0 0.5em
  margin 0
  vertical-align top

input
  border 1px solid hsl(mhue,80%,30%)
  background hsl(mhue,80%,30%)
  color #fff
  &:focus
    background transparent

button
  background acolor
  border none
  cursor pointer
  text-shadow darken(acolor,20%) 0 1px 0

button, .button
  color #fff
  border-bottom 4px solid darken(acolor,20%)
  transition .15s ease-in-out
  &:hover
    background darken(acolor,10%)
    border-color darken(acolor,40%)
