section
  border-bottom 1px solid mborder
  padding 1.5em 0 0

  .container
    padding 0 10px
    clearfix()

  .section-header
    margin 0 0 1.5em

.section-dark
  background mcolor
  text-align center
  h2
    color hsl(mhue,60%,90%)
    text-shadow hsl(mhue,msat,40%) 0 1px 0
    line-height 1.25em
    
  form
    max-width 320px
    margin 0 auto

  input, button
    margin 0 0 0.67em
    max-width 320px
    width 75%

  input
    text-align center

  p
    color hsl(mhue,60%,50%)
    font-size 1.33em
    line-height 1.25em
    font-weight 200

#section-cta
  text-align center
  border-top 8px solid lighten(mcolor,65%)
  padding 2.5em 0 3.5em
  margin-bottom -1px


#section-hero
  border-bottom 8px solid lighten(mcolor,10%)
  p
    margin 0
