section
  border-bottom 1px solid mborder
  padding 1.5em 0 0

  .container
    padding 0 10px
    clearfix()

  .section-header
    margin 0 0 1.5em

  h2
    line-height 1.25em
    margin 0 0 x
    text-align center

  .content
    ul
      list-style square
      padding-left 1.5em

.section-borderless
  .container
    padding 0

.section-thirds
  padding 0
  .column
    border-bottom 1px solid bc
    padding 0 10px
    
    &:last-of-type
      border-bottom none

    h2
      padding 1.5*x 0 0

    p
      text-align center

.section-dark
  background mcolor
  text-align center

  h1, h2
    color hsl(mhue,60%,90%)
    text-shadow hsl(mhue,msat,40%) 0 1px 0
    line-height 1.25em

  form
    max-width 320px
    margin 0 auto

  input, button
    margin 0 0 0.67em
    max-width 320px
    width 75%

  input
    text-align center

  p
    color hsl(mhue,60%,60%)
    font-size 1.33em
    line-height 1.25em
    font-weight 200

#section-hero
  border-bottom 4px solid lighten(mcolor,10%)
  p
    margin 0

#section-cta
  text-align center
  border-top 4px solid lighten(mcolor,20%)
  padding 2.5em 0 3.5em
  margin-bottom -1px
