section
  border-bottom 1px solid mborder
  padding 1.5em 0 0

  .container
    padding 0 10px
    clearfix()

  .section-header
    margin 0 0 1.5em

  h2
    line-height 1.25em
    margin 0 0 x
    text-align center

  .content
    ul
      list-style square
      padding-left 1.5em

.section-borderless
  .container
    padding 0

.section-thirds
  padding 0
  .column
    border-bottom 1px solid bc
    padding 0 10px
    
    &:last-of-type
      border-bottom none

    h2
      padding 1.5*x 0 0
      .long
        display none

    p
      text-align center

.section-dark
  background mcolor
  text-align center

  h1, h2
    color hsl(mhue,60%,90%)
    text-shadow hsl(mhue,msat,40%) 0 1px 0
    line-height 1.25em

  form
    max-width 320px
    margin 0 auto

  input, button
    margin 0 0 0.67em
    max-width 320px
    width 75%

  input
    text-align center

  p
    color hsl(mhue,60%,60%)
    font-size 1.33em
    line-height 1.25em
    font-weight 200

#section-hero
  border-bottom 4px solid lighten(mcolor,10%)
  p
    margin 0

#section-social-media
  border-top 4px solid lighten(mcolor,20%)
  border-bottom none
  ul
    display flex
    flex-flow column nowrap
    margin -0.5em -0.5em 1em
    li
      text-align left
      display flex
      flex 1
      margin 0
      a
        margin 0.5em
        display block
        border 1px solid lighten(mcolor,10%)
        padding 0.55em 0.75em
        background lighten(mcolor,3%)
        flex 1
        h3
          color lighten(mcolor,75%)
          font-size x
          line-height 1.5em
          font-weight 500
        p
          font-size x
          line-height 1.5em
          margin 0
        &:hover
          text-decoration none
          border-color lighten(mcolor,20%)
          h3
            color lighten(mcolor,85%)
          background lighten(mcolor,5%)

#section-cta
  text-align center
  border-top 1px solid lighten(mcolor,10%)
  padding 2.5em 0 3em
  margin-bottom -1px
