logo-size = 32px

.site-logo
  background acolor
  position absolute
  left 50%
  margin-left -0.75 * logo-size
  width logo-size * 1.5
  height logo-size * 1.5 + 4px
  img
    margin logo-size * 0.25
    width logo-size
    height logo-size

.site-bookend
  clearfix()
  position relative
  background hsl(mhue,msat,mlit - 5%)
  height x*0.75*3 + 3px
  line-height 3em
  font-size x*0.75
  color lcolor

  a
    color hsl(mhue,msat,70%)
    &:hover
      text-decoration underline

#site-header
  border-top 2px solid hsl(mhue,msat,10%)
  border-bottom 1px solid hsl(mhue,msat,mlit + 8%)

  .site-logo
    top -2px
    border-bottom 4px solid darken(acolor,20%)
    &:hover
      background darken(acolor,10%)
      border-color darken(acolor,40%)

  ul
    clearfix()
    width 120px
    margin 0
    li
      margin 0
      float left
      width 50%
      a
        display block
        text-align center

#site-footer
  border-top 1px solid hsl(mhue,msat,mlit + 8%)
  border-bottom 2px solid hsl(mhue,msat,10%)

  .site-logo
    bottom -2px
    background lighten(mcolor,30%)
    border-bottom 4px solid lighten(mcolor,15%)
    &:hover
      background lighten(mcolor,20%)
      border-color darken(mcolor,5%)

  p
    padding 0 1em
    margin 0
