<!--
  This file is responsible for rendering a single blog post.
-->

{{ template "chrome/header.html" . }}

<body class="theme-base-08">
  {{ template "chrome/banner.html" . }}

  <!-- See /layouts/indexes/category.html for explanation of this section -->
  <div class="wrap">
    <!--
      This is where the actual post is displayed.

      We first access the title metadata field from the markdown source and
      display it as a heading.

      We then access the date the post was written (also in the markdown
      metadata) and display a formated version of it

      Finally we include the actual content of the post.
    -->
    <div class="container content post_container">
      <h1 class="post-title">{{ .Title }}</h1>
        <div id="main">
          <h5 id="date"> {{ .Date.Format "Mon Jan 2, 2006" }} </h5>
          {{ .Content }}
        </div>
    </div>
  </div>

  <label for="sidebar-checkbox" class="sidebar-toggle"></label>

  {{ template "chrome/prev_next.html" . }}
  {{ template "chrome/categories.html" . }}
  <br />

<!-- Include footer (ends <body class="theme-base-08"> and <html>) -->
{{ template "chrome/footer.html" }}
