<!--
  This file is responsible for rendering a single blog post.
-->

{{ template "chrome/header.html" . }}

<body id="body-blog-post" class="body-blog">
  {{ template "chrome/site-header.html" . }}

  <section id="section-hero">
    <div class="container">
      <h1>{{ .Title }}</h1>
      <p>{{ .Date.Format "January 2, 2006" }}</p>
      {{ template "chrome/categories.html" . }}
    </div>
  </section>

  <!-- See /layouts/indexes/category.html for explanation of this section -->
  <section id="section-post">
    <!--
      This is where the actual post is displayed.

      We first access the title metadata field from the markdown source and
      display it as a heading.

      We then access the date the post was written (also in the markdown
      metadata) and display a formated version of it

      Finally we include the actual content of the post.
    -->
    <div class="container article-body">
      {{ .Content }}
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    {{ template "chrome/prev_next.html" . }}
  </section>

<!-- Include footer (ends <body class="theme-base-08"> and <html>) -->
{{ template "chrome/site-footer.html" }}
