<header id="page-header">
	<nav class="container">
		<div class="col first">
			<a href="/">Tendermint</a>
		</div>
		<ul class="col right">
			<li>
				<a href="/posts/"><i class="fa fa-rss"></i> Blog</a>
			</li>
			<li>
				<a href="https://github.com/tendermint/tendermint/"><i class="fa fa-github-alt"></i> GitHub</a>
			</li>
			<li>
				<a href="/docs/tendermint.pdf"><i class="fa fa-file-text-o"></i> Whitepaper</a>
			</li>
			<li>
				<a href="http://forum.tendermint.com/"><i class="fa fa-coffee"></i> Forum</a>
			</li>
		</ul>
	</nav>
</header>
