<meta content="on" http-equiv="cleartype" />
<meta content="width=device-width, initial-scale=1.0" name="viewport" /> 
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" href="/images/favicon.ico">

<!--
<link rel="stylesheet" type="text/css" media="screen" href="/css/reset.css" />
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" media="screen" href="/css/screen-base.css" />
<link media="screen and (min-width: 0em) and (max-width: 37.4375em)" href="/css/small.css" rel="stylesheet" />
<link media="screen and (min-width: 37.5em) and (max-width: 64.9375em)" href="/css/medium.css" rel="stylesheet" />
<link media="screen and (min-width: 65em)" href="/css/large.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/poole.css" />
-->

<link rel="stylesheet" type="text/css" media="screen" href="styles/screen.css">

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
