<header id="site-header" class="site-bookend">
<div class="site-logo">
  <a href="/"><img src="images/tm-logo-white-640.png" alt="Tendermint logo"/></a>
</div>
<ul class="right">
  <li id="nav-spec"><a href="http://github.com/tendermint/tendermint/wiki">Spec</a></li>
  <li id="nav-forum"><a href="http://forum.tendermint.com/">Forum</a></li>
</ul>
<ul class="left">
  <li id="nav-blog"><a href="/posts/">Blog</a></li>
  <li id="nav-tutorials"><a href="/tutorials/">Tutorials</a></li>
  <!--<li id="nav-github"><a href="https://github.com/tendermint/tendermint/">GitHub</a></li>-->
</ul>
</header>
