<section id="section-cta" class="section-dark">
<div class="container">
  <div class="section-header">
    <h2>Stay updated on Tendermint news</h2>
  </div>
  {{ template "chrome/email-signup.html" . }}
</div>
</section>

<footer id="site-footer" class="site-bookend">

<div class="site-logo">
  <a href="/"><img src="images/tm-logo-white-640.png" alt="Tendermint logo"/></a>
</div>

<p class="left">
&copy; 2015 Tendermint
</p>

<p class="right">
<a href="https://www.facebook.com/tendermint/">Facebook</a>
&middot;
<a href="mailto:hello@tendermint.com">Contact</a>
&middot;
<a href="http://tendermint.com/about/">About</a>
</p>
</footer>

<!-- code highlighting -->
<script src="scripts/highlight.pack.js"></script>
<script>
  hljs.configure({languages: []});
  hljs.initHighlightingOnLoad();
</script>

{{ template "chrome/ga.html" . }}

</body>
</html>
