<section id="section-cta" class="section-dark">
  <div class="container">
    <div class="section-header">
      <h2>Subscribe to the Tendermint newsletter</h2>
    </div>
    {{ template "chrome/email-signup.html" . }}
  </div>
</section>

<footer id="site-footer" class="site-bookend">


		<div class="site-logo">
      <a href="/"><img src="images/tm-logo-white-640.png" alt="Tendermint logo"/></a>
		</div>

    <p class="left">
      &copy; 2015 Tendermint
    </p>

    <p class="right">
      <a href="mailto:hello@tendermint.com">Contact us</a>
    </p>


</footer>

{{ template "chrome/ga.html" . }}
</body>
</html>
