<header id="site-header" class="site-bookend">
<div class="site-logo">
  <a href="/"><img src="images/home/tendermint-logo-400-green.png" alt="Tendermint logo"/></a>
</div>
<ul class="right">
  <li id="nav-about"><a href="about">About</a></li>
  <li id="nav-forum"><a href="mailto:slack@tendermint.com?subject=Please&nbsp;Add&nbsp;Me&nbsp;To&nbsp;Slack">Slack</a></li>
</ul>
<ul class="left">
  <li id="nav-blog"><a href="/posts/">Blog</a></li>
  <li id="nav-tutorials"><a href="/tutorials/">Tutorials</a></li>
</ul>
</header>
