<div id="article-prev-next">
  <div class="article-prev-next article-prev">
    {{if .PrevInSection}}
      <a  href="{{.PrevInSection.Permalink}}">
        <div class="label"><i class="fa fa-angle-left"></i> Prev</div>
        <div class="title">{{.PrevInSection.Title}}</div>
      </a>
    {{else}}
      <div class="end">
        <div class="label"><i class="fa fa-angle-left"></i> Prev</div>
        <div class="title">No newer entries in this section.</div>
      </div>
    {{end}}
  </div>

  <div class="article-prev-next article-next">
    {{if .NextInSection}}
      <a href="{{.NextInSection.Permalink}}">
        <div class="label">Next <i class="fa fa-angle-right"></i></div>
        <div class="title">{{.NextInSection.Title}}</div>
      </a>
    {{else}}
      <div class="end">
        <div class="label">Next <i class="fa fa-angle-right"></i></div>
        <div class="title">No newer entries in this section.</div>
      </div>
    {{end}}
  </div>
</div>
