<div id="article-prev-next">
  {{if .PrevInSection}}
    <a class="article-prev-next article-prev" href="{{.PrevInSection.Permalink}}">
      <div class="label"><i class="fa fa-angle-left"></i> Previous Article</div>
      <div class="title">{{.PrevInSection.Title}}</div>
    </a>
  {{end}}

  {{if .NextInSection}}{{if .NextInSection.Title}}
    <a class="article-prev-next article-next" href="{{.NextInSection.Permalink}}">
      <div class="label"><i class="fa fa-angle-right"></i> Next Article</div>
      <div class="title">{{.NextInSection.Title}}</div>
    </a>
  {{end}}{{end}}
</div>
