<section id="section-hero">
  <div class="section-container">

    <h1>Tendermint</h1>
    <p class="tagline">
      <!-- Build <span class="slash">/</span> Deploy <span class="slash">/</span> Manage -->
      Build <i class="fa fa-angle-right"></i>
      Deploy <i class="fa fa-angle-right"></i>
      Manage
    </p>
    <p class="introduction">
      <!--Blockchain app development simplified &ndash; focus on business logic <span class="amp">&amp;</span> we&rsquo;ll handle the&nbsp;rest. -->
      Bringing simplicity, security, and speed to the world&rsquo;s blockchains.
    </p>

    {{ partial "email-signup.html" . }}

    <div class="connections">
      <a href="http://forum.tendermint.com:3000/">
        <i class="fa fa-slick"></i></a>
      <a href="https://twitter.com/tendermint_team">
        <i class="fa fa-twatter"></i></a>
      <a href="https://www.facebook.com/tendermint">
        <i class="fa fa-footbook"></i></a>
      <a href="https://www.linkedin.com/company/tendermint">
        <i class="fa fa-linkedout"></i></a>
    </div><!--connections-->

  </div><!--container-->
  <a href="#" id="home-arrow-down"><i class="fa fa-angle-down"></i></a>
</section>
<div id="scroll-down-here"></div>
