<section id="section-hero">
  <div class="container">

    <h1>Tendermint</h1>
    <p class="tagline">
      Build <span class="slash">/</span> Deploy <span class="slash">/</span> Manage
    </p>
    <p class="introduction">
      Blockchain app development simplified &ndash; focus on business logic <span class="amp">&amp;</span> we&rsquo;ll handle the&nbsp;rest. 
    </p>

    {{ partial "email-signup.html" . }}

    <div class="social-media">
      <a href="mailto:slack@tendermint.com?subject=Please&nbsp;add&nbsp;me&nbsp;to&nbsp;Slack!">
        <i class="fa fa-slack"></i></a>
      <a href="https://twitter.com/tendermint_team">
        <i class="fa fa-twitter"></i></a>
      <a href="https://www.facebook.com/tendermint">
        <i class="fa fa-facebook"></i></a>
      <a href="https://www.linkedin.com/company/tendermint">
        <i class="fa fa-linkedin"></i></a>
    </div><!--social-media-->

  </div><!--container-->
  <a href="#" id="home-arrow-down"><i class="fa fa-angle-down"></i></a>
</section>
<div id="scroll-down-here"></div>
