<section class="section-default section-columns">
  <div class="container">
    <header class="section-header">
      <i class="fa fa-wrench"></i>
      <h2>Blockchain Apps</h2>
    </header>
    <div class="content">
      <p>Whether you are developing a blockchain app within a Fortune 500 company or creating your own personal blockchain, Tendermint can help.</p>
    </div>
  </div>
  <div class="container">
    <header class="section-header">
      <i class="fa fa-cloud-upload"></i>
      <h2>Easy Deployment</h2>
    </header>
    <div class="content">
      <p>Deploy your blockchain app to AWS, Google Cloud, Microsoft Azure, or Digital Ocean in <a href="http://tendermint.com/tutorials/">fewer than three minutes</a>.</p>
    </div>
  </div>
  <div class="container">
    <header class="section-header">
      <i class="fa fa-code"></i>
      <h2>Open Source</h2>
    </header>
    <div class="content">
      <p>Our source code is available on <a href="https://github.com/tendermint">GitHub</a>. Tendermint Core is licensed under AGPLv3, and all other libraries are Apache 2.0.</p>
    </div>
  </div>
</section>

<section class="section-default section-columns">
  <div class="container">
    <header class="section-header">
      <i class="fa fa-tachometer"></i>
      <h2>Fast</h2>
    </header>
    <div class="content">
      <p>Over 10,000 transactions per second, per blockchain. New blocks are committed in less than 1000ms. Achievable today.</p>
    </div>
  </div>
  <div class="container">
    <header class="section-header">
      <i class="fa fa-database"></i>
      <h2>Scalable</h2>
    </header>
    <div class="content">
      <p>Tendermint blockchain apps are infinitely scalable across commodity hardware through efficient container-based deployment.</p>
    </div>
  </div>
  <div class="container">
    <header class="section-header">
      <i class="fa fa-lock"></i>
      <h2>Secure</h2>
    </header>
    <div class="content">
      <p>Tendermint is a Byzantine Fault Tolerant consensus algorithm. Our systems are designed for accountability and regulatory compliance.</p>
    </div>
  </div>
</section>
