<section id="section-hero">
  <div class="section-container">

    <h1>Tendermint</h1>
    <p class="tagline">
      Blockchain Consensus
    </p>
    <p class="introduction">
    Byzantine fault tolerant <br>
    replicated state machines <br>
    in any programming language
    </p>

    {{ partial "email-signup.html" . }}

    <div class="connections">
      <a href="http://forum.tendermint.com:3000/">
        <i class="fa fa-slick"></i></a>
      <a href="http://github.com/tendermint/tendermint/">
        <i class="fa fa-github"></i></a>
      <a href="https://twitter.com/tendermint_team">
        <i class="fa fa-twatter"></i></a>
      <a href="https://www.facebook.com/tendermint">
        <i class="fa fa-footbook"></i></a>
      <a href="https://www.linkedin.com/company/tendermint">
        <i class="fa fa-linkedout"></i></a>
    </div><!--connections-->

  </div><!--container-->
  <a href="#" id="home-arrow-down"><i class="fa fa-angle-down"></i></a>
</section>
<div id="scroll-down-here"></div>
