<section id="section-architecture" class="section-default section-dark">
  <div class="container">
    <header class="section-header">
      <h2>Next Generation Enterprise Architecture</h2>
    </header>
    <div class="content">
      <a class="anchor-img" href="/posts/tendermint-socket-protocol"><img src="/images/home/tmsp_architecture.png"/></a>
      <div class="text">

        <ul class="ul-boxed">
          <li><p>Blockchains continue their journey - increasing functionality while decreasing development complexity.</p></li> 
          <li><p>First there was Bitcoin, an accounting system with limited functionality that is difficult to build on top of.</p></li>
          <li><p>Then came Ethereum, which unlocked the potential of blockchains with a Turing-complete virtual machine that can run any smart contract written in Serpent or Solidity.</p></li> 
          <li><p>Now with Tendermint <a href="http://tendermint.com/posts/tendermint-socket-protocol/">TMSP</a>, you can write smart-contracts in any programming language. Leverage existing codebases, workflows, and development ecosystems to build complex &amp; production-quality applications.</p></li>
        </ul>

      </div>
    </div>
  </div>
</section>
