<section id="section-connections" class="section-default section-dark">
  <div class="section-container">
    <header class="section-header">
      <h2>Learn more by joining the&nbsp;discussion</h2>
    </header>
    <div class="section-content">
      <ul class="ul-connections">
        <li>
          <a href="mailto:slack@tendermint.com?subject=Please&nbsp;Add&nbsp;Me&nbsp;To&nbsp;Slack!">
            <h3><i class="fa fa-slack"></i> Slack</h3>
            <div class="content">
              <p>Get an invitation to join the discussion on our Slack.</p>
            </div>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/tendermint_team">
            <h3><i class="fa fa-twitter"></i> Twitter</h3>
            <div class="content">
              <p>Follow <strong>@tendermint_team</strong> on Twitter for our latest updates.</p>
            </div>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/tendermint/">
            <h3><i class="fa fa-facebook"></i> Facebook</h3>
            <div class="content">
              <p>Like and follow Tendermint on Facebook.</p>
            </div>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company/tendermint">
            <h3><i class="fa fa-linkedin"></i> LinkedIn</h3>
            <div class="content">
              <p>View our profile and connect with us on LinkedIn.</p>
            </div>
          </a>
        </li>
      </ul>
    </div><!--section-content-->
  </div><!--section-container-->
</section>

<section id="section-cta" class="section-default section-dark">
  <div class="section-container">
    <header class="section-header">
      <h2>Stay updated on Tendermint&nbsp;news</h2>
    </header>
    <div class="section-content">
      {{ partial "email-signup.html" . }}
  </div>
  </div>
</section>

<footer id="site-footer">
  <p class="left">&copy; 2016 Tendermint</p>
  <p class="right">
    <a href="mailto:hello@tendermint.com">
      <i class="fa fa-envelope-o"></i>
      Contact
    </a>
  </p>
</footer>

<script src="scripts/bundle.js"></script>
{{ partial "google-analytics.html" . }}

</body>
</html>
