<header id="site-header">
<a href="/" id="nav-home">
  <img src="/images/home/tendermint-logo-200-green.jpg" alt="Tendermint logo"/>
</a>
<nav>
  <a id="nav-posts" href="/blog">Blog</a>
  <a id="nav-media" href="/media">Media</a>
  <a id="nav-developers"href="/code">
    <span class="short">Code</span>
    <span class="long">Source Code</span>
  </a>
  <a id="nav-tutorials" href="/documentation">
    <span class="short">Docs</span>
    <span class="long">Documentation</span>
  </a>
  <a id="nav-about" href="/about">About</a>
</nav>
</header>
