<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <base href="{{ .Site.BaseURL }}">
    <title>Tendermint</title>
    <link rel="canonical" href="{{ .Permalink }}">
    <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}">
    <meta content="on" http-equiv="cleartype">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="stylesheet" type="text/css" media="screen" href="styles/screen.css">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body id="body-home">
    {{ template "chrome/site-header.html" . }}

    <section id="section-hero" class="section-dark">
    <div class="container">
      <div class="text">
        <h1>Tendermint</h1>
        <p>The Blockchain Platform</p>
      </div>
      {{ template "chrome/email-signup.html" . }}
    </div>
    </section>

    <section id="section-intro">
    <div class="container">
      <p class="first">The Tendermint Blockchain Platform removes all of the complexity of blockchain application development, allowing blockchain application developers to focus on business logic.</p>

      <p>Built from the ground up for the needs of enterprise clients - Tendermint consensus supports applications with the best in blockchain speed, security, &amp; scalability.</p>
    </div>
    </section>

    <section id="section-team">
    <div class="container">
      <div class="section-header">
        <h2>The Team</h2>
      </div>

      <div class="section-content">
        <ul id="ul-team">
          <li>
          XXX
          <img class="portrait" src="/images/team/jae-01.jpg" alt="Jae Kwon">
          <div class="label">
            <span class="name">Jae Kwon</span>
            <span class="title">CEO</span>
            <span class="title">Founder</span>
          </div>
          </li>
          <li>
          <img class="portrait" src="/images/team/dustin-01.jpg" alt="Dustin Byington">
          <div class="label">
            <span class="name">Dustin Byington</span>
            <span class="title">President</span>
            <span class="title">Co-founder</span>
          </div>
          </li>
          <li>
          <img class="portrait" src="/images/team/ethan-01.jpg" alt="Ethan Buchman">
          <div class="label">
            <span class="name">Ethan Buchman</span>
            <span class="title">Blockchain Engineer</span>
            <span class="title">Co-founder</span>
          </div>
          </li>
          <li>
          <img class="portrait" src="/images/team/peng-01.jpg" alt="Peng Zhong">
          <div class="label">
            <span class="name">Peng Zhong</span>
            <span class="title">Front-end Engineer</span>
          </div>
          </li>
        </ul>
      </div>
    </div>
    </section>

    <section id="section-resources">
    <div class="container">
      <div class="section-header">
        <h2>Resources</h2>
      </div>

      <div class="content">
        <div class="panel">
          <div class="panel-header">
            <h3><a href="/posts/" class="block">Blog</a></h3>
          </div>
          <div class="panel-body">
            <ul>
              {{ range first 4 (where .Data.Pages "Section" "posts") }}
              {{ .Render "li_frontpage"}}
              {{ end }}
            </ul>
          </div>
        </div>

        <div class="panel">
          <div class="panel-header">
            <h3><a href="/tutorials/" class="block">Tutorials</a></h3>
          </div>
          <div class="panel-body">
            <ul>
              {{ range first 4 (where .Data.Pages "Section" "tutorials") }}
              {{ .Render "li_frontpage"}}
              {{ end }}
            </ul>
          </div>
        </div>

      <div class="panel">
        <div class="panel-header">
          <h3><a href="https://github.com/tendermint/tendermint/" class="block">GitHub</a></h3>
        </div>
        <div class="panel-body">
          <ul>
            <li>
              <h4><a href="https://github.com/tendermint/tendermint">Tendermint Core</a></h4>
              <p>Tendermint Core</p>
            </li>
            <li>
              <h4><a href="https://github.com/tendermint/tmsp">TMSP</a></h4>
              <p>Tendermint socket protocol for blockchain applications</p>
            </li>
            <li>
              <h4><a href="https://github.com/tendermint/mintnet">Mintnet</a></h4>
              <p>Developer tool for deploying a Tendermint testnet</p>
            </li>
            <li>
              <h4><a href="https://github.com/tendermint/go-p2p">Go-P2P</a></h4>
              <p>Extensible P2P networking stack</p>
            </li>
            <li>
              <h4><a href="https://github.com/tendermint/go-merkle">Go-Merkle</a></h4>
              <p>Merkle hash trees for blocks and application state</p>
            </li>
            <li>
              <h4><a href="https://github.com/tendermint/go-wire">Go-Wire</a></h4>
              <p>Binary and JSON encoding/decoding</p>
            </li>
          </ul>
        </div>
      </div>

      <div class="panel">
        <div class="panel-header">
          <h3>More resources</h3>
        </div>
        <div class="panel-body">
          <ul>
            <li><h4><a href="http://github.com/tendermint/tendermint/wiki">Read the Tendermint spec &rsaquo;</a></h4></li>
            <li><h4><a href="mailto:hello@tendermint.com">Send us an email &rsaquo;</a></h4></li>
            <li><h4><a href="http://forum.tendermint.com/">Join the discussion on the forum &rsaquo;</a></h4></li>
          </ul>
        </div>
      </div>

  </div><!--content-->

  </div><!--container-->
</section>

      {{ template "chrome/site-footer.html" }}
