<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <base href="{{ .Site.BaseURL }}">
    <title>Blockchain app development simplified &ndash; Tendermint</title>
    <link rel="canonical" href="{{ .Permalink }}">
    <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}">

    {{ template "chrome/head-includes.html" . }}
  </head>

  <body id="body-home">
    {{ template "chrome/site-header.html" . }}

    <section id="section-hero-home" class="section-dark">
    <div class="container">
      <h1>Tendermint</h1>
      <p id="tagline">Build <span class="slash">/</span> Deploy <span class="slash">/</span> Manage</p>
      <p id="intro">Blockchain app development simplified &ndash; focus on business logic <span class="amp">&amp;</span> we&rsquo;ll handle the&nbsp;rest. 
      {{ template "chrome/email-signup.html" . }}
      <div class="social-media">
        <a href="mailto:slack@tendermint.com?subject=Please&nbsp;Add&nbsp;Me&nbsp;To&nbsp;Slack!"><i class="fa fa-slack"></i></a>
        <a href="https://twitter.com/tendermint_team"><i class="fa fa-twitter"></i></a>
        <a href="https://www.facebook.com/tendermint/"><i class="fa fa-facebook"></i></a>
        <a href="https://www.linkedin.com/company/tendermint"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>
    <a href="#" id="home-arrow-down"><i class="fa fa-angle-down"></i></a>
    </section>

    <div id="scroll-down-here"></div>
    <section class="section-split section-borderless"><div class="container">
      <div class="content">
        <div class="column">
          <h2><i class="fa fa-wrench"></i> Blockchain Apps</h2>
          <p>Whether you are developing a blockchain app within a Fortune 500 company or creating your own personal blockchain, Tendermint can help.</p>
        </div>
        <div class="column">
          <h2><i class="fa fa-cloud-upload"></i> Easy Deployment</h2>
          <p>Deploy your blockchain app to AWS, Google Cloud, Microsoft Azure, or Digital Ocean in <a href="http://tendermint.com/tutorials/">fewer than three minutes</a>.</p>
        </div>
        <div class="column">
          <h2><i class="fa fa-code"></i> Open Source</h2>
          <p>Our source code is available on <a href="https://github.com/tendermint">GitHub</a>. Tendermint Core is licensed under AGPLv3, and all other libraries are Apache 2.0.</p>
        </div>
      </div>
    </div></section>

    <section class="section-split section-borderless"><div class="container">
      <div class="content">
        <div class="column">
          <h2><i class="fa fa-tachometer"></i> Fast</h2>
          <p>Over 10,000 transactions per second, per blockchain. New blocks are committed in less than 1000ms. Achievable today.</p>
        </div>
        <div class="column">
          <h2><i class="fa fa-database"></i> Scalable</h2>
          <p>Tendermint blockchain apps are infinitely scalable across commodity hardware through efficient container-based deployment.</p>
        </div>
        <div class="column">
          <h2><i class="fa fa-lock"></i> Secure</h2>
          <p>Tendermint is a Byzantine Fault Tolerant consensus algorithm. Our systems are designed for accountability and regulatory compliance.</p>
        </div>
      </div>
    </div></section>

    <section id="section-architecture" class="section-inverse"><div class="container">
      <div class="section-header">
        <h2>Next Generation Enterprise Architecture</h2>
      </div>
      <div class="content">
        <a class="anchor-img" href="/posts/tendermint-socket-protocol"><img src="/images/home/tmsp_architecture.png"/></a>
        <div class="text">

          <ul>
          <li>Blockchains continue their journey - increasing functionality while decreasing development complexity.</li> 
          <li>First there was Bitcoin, an accounting system with limited functionality that is difficult to build on top of.</li>
          <li>Then came Ethereum, which unlocked the potential of blockchains with a Turing-complete virtual machine that can run any smart contract written in Serpent or Solidity.</li> 
          <li>Now with Tendermint <a href="http://tendermint.com/posts/tendermint-socket-protocol/">TMSP</a>, you can write smart-contracts in any programming language. Leverage existing codebases, workflows, and development ecosystems to build complex &amp; production-quality applications.</li>
          </ul>

        </div>
      </div>
    </div></section>

    <section id="section-resources">
    <div class="container">
      <div class="section-header">
        <h2>Tendermint Resources</h2>
      </div>

      <div class="content">
        <div class="panel">
          <div class="panel-header">
            <h3><a href="/posts/" class="block">
              <i class="fa fa-rss"></i> Blog
            </a></h3>
          </div>
          <div class="panel-body">
            <ul>
              {{ range first 4 (where .Data.Pages "Section" "posts") }}
              {{ .Render "li_frontpage"}}
              {{ end }}
            </ul>
          </div>
        </div>

        <div class="panel">
          <div class="panel-header">
            <h3><a href="/tutorials/" class="block">
              <i class="fa fa-book"></i> Tutorials
            </a></h3>
          </div>
          <div class="panel-body">
            <ul>
              {{ range first 4 (where .Data.Pages "Section" "tutorials") }}
              {{ .Render "li_frontpage"}}
              {{ end }}
            </ul>
          </div>
        </div>

      </div><!--content-->
    </div><!--container--></section>

    <section class="section-split section-borderless section-inverse"><div class="container">
      <div class="content">
        <div class="column">
          <h2>
            <span class="short">We&rsquo;re looking for blockchain engineers</span>
            <span class="long">We&rsquo;re seeking talented blockchain engineers</span>
          </h2>
          <p>Are you an industry leading blockchain engineer looking to make open-source contributions to a state-of-the-art codebase on the bleeding edge of blockchain tech? If so, we’d love to <a href="mailto:hello@tendermint.com">hear from you</a>.
        </div>
        <div class="column">
          <h2>
            <span class="short">We also build custom blockchain apps</span>
            <span class="long">We also build custom blockchain applications</span>
          </h2>
          <p>We work directly with a small number of high value clients to help bring their vision to reality. <a href="mailto:hello@tendermint.com">Lets talk.</a></p>
        </div>
      </div>
    </div></section>

    <section id="section-video"><div class="content">
      <div class="section-header">
        <h2>Watch an interview with the Tendermint team</h2>
      </div>
      <iframe src="https://www.youtube.com/embed/EfFVh1DIKds" frameborder="0" allowfullscreen></iframe>
    </div></section>

{{ template "chrome/site-footer.html" }}
