<!DOCTYPE html>
<html>
  <head>
    <!--
    This section just sets up some metadata for the website.
    It probably does not need to be changed.
    -->
    <meta charset="utf-8">
    <base href="{{ .Site.BaseUrl }}">
    <title>Tendermint</title>
    <link rel="canonical" href="{{ .Permalink }}">
    <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}">
    <meta content="on" http-equiv="cleartype">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/favicon.ico">

    <link rel="stylesheet" type="text/css" media="screen" href="/css/screen.css">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    {{ template "chrome/banner.html" . }}

    <section class="hero">
    <div class="container">
      <div class="col first">
        <h1>Tendermint</h1>
        <p>The Enterprise Blockchain Platform</p>
        {{ template "chrome/email-signup.html" . }}
      </div>
    </div>
    </section>

    <section class="intro">
    <div class="container">
      <div class="col col-6 first">
        <p>The Tendermint Enterprise Blockchain Platform (TEBP) removes all of the complexity of blockchain application development, allowing enterprise application developers to focus on business logic.</p>

        <p>Built from the ground up for the needs of enterprise clients - Tendermint consensus supports applications with the best in blockchain speed, security, &amp; scalability.</p>
      </div>
    </div>
    </section>

    <section class="resources">
    <div class="container">

      <h2 class="col first">Resources</h2>

      <div class="col col-6 first resource-list">
        <h3><a href="/posts/" class="block">Blog</a></h3>
        <ul class="nostyle">
          {{ range first 4 .Data.Pages }}
          {{ .Render "li_frontpage"}}
          {{ end }}
        </ul>
      </div>

      <div class="col col-6 resource-list">
        <h3><a href="https://github.com/tendermint/tendermint/" class="block">GitHub</a></h3>
        <ul class="task-list nostyle">
          <li>
          <strong><a href="https://github.com/tendermint/tendermint/blob/master/consensus">consensus</a>:</strong> The core consensus algorithm</li>
          <li>
          <strong><a href="https://github.com/tendermint/tendermint/blob/master/p2p">p2p</a>:</strong> Extensible P2P networking stack</li>
          <li>
          <strong><a href="https://github.com/tendermint/tendermint/blob/master/wire">wire</a>:</strong> Binary and custom JSON encoding/decoding</li>
          <li>
          <strong><a href="https://github.com/tendermint/tendermint/blob/master/merkle">merkle</a>:</strong> Merkle hash trees for blocks and application state</li>
          <li>
          <strong><a href="https://github.com/tendermint/tendermint/blob/master/state">state</a>:</strong> The application state, mutated by transactions</li>
          <li>
          <strong><a href="https://github.com/tendermint/tendermint/blob/master/vm">vm</a>:</strong> Ethereum virtual machine</li>
          <li>
          <strong><a href="https://github.com/tendermint/tendermint/blob/master/mempool">mempool</a>:</strong> Handles gossip of new transactions</li>
        </ul>
      </div>

      <div class="col col-12 first">
        <p class="tagline center">More resources
        <br/>
        <a href="http://github.com/tendermint/tendermint/wiki">read the spec</a> <span class="bullet">&bull;</span>
        <a href="mailto:hello@tendermint.com">email us</a>
        <br/>
        <a href="http://forum.tendermint.com/">join the forum</a>
        </p>
      </div>
    </div>

    </section>

    {{ template "chrome/footer.html" }}
