@require 'nib'

global-reset()

*
  box-sizing border-box

@require './defaults/*'
@require './elements/*'
@require './pages/*'
@require './forms/*'
@require './media/queries'
@require './highlightjs/github.css'
