{{ partial "header.html" . }}

<body id="body-taxonomy">
  {{ partial "site-header.html" . }}

  <section id="section-top">
    <div class="section-container">
      <h1>&ldquo;{{ .Title }}&rdquo;</h1>
      <p>Articles in this category&hellip;</p>
    </div>
  </section>

  <section class="section-default">
    <div class="section-container">
      <div class="section-content">
        {{ range .Data.Pages }}
        {{ .Render "summary"}}
        {{ end }}
      </div>
    </div>
  </section>

{{ partial "site-footer.html" }}
