.panel
  border 1px solid mborder
  border-bottom none
  margin 0 0 1.5em

  .panel-header
    background hsl(mhue,35%,90%)
    padding 0 0.5em
    line-height 2em
    border-bottom 1px solid mborder
    a
      color txt

  .panel-body
    li
      padding 0.5em
      border-bottom 1px solid mborder
      margin 0
      p
        margin 0
