section
  border-bottom 1px solid mborder
  padding 1.5em 0 0

  .container
    padding 0 10px

  .section-header
    margin 0 0 1.5em

.section-dark
  background mcolor
  h2
    color hsl(mhue,60%,90%)
    text-shadow hsl(mhue,msat,40%) 0 1px 0
    line-height 1.25em
    
  form
    max-width 320px
    margin 0 auto

  input, button
    margin 0 0 0.67em
    max-width 320px
    width 75%

  input
    text-align center

#section-cta
  text-align center
  border-top 8px solid lighten(mcolor,65%)
  padding 2.5em 0 3.5em
  margin-bottom -1px
  
#section-hero
  padding 4.5em 0 3.5em
  border-bottom 8px solid lighten(mcolor,65%)
  text-align center
  background mcolor

  .text
    margin 0 0 3em

  p
    color hsl(mhue,60%,50%)
    font-size 1.33em
    line-height 1.25em
    font-weight 200

#section-intro
  background lighten(mcolor,90%)
  color mcolor
  p:first-of-type
    font-size 1.2em
    text-shadow #fff 0 -1px 0
    border-bottom 2px solid lighten(mcolor,85%)
    margin 0 0 1em
    padding 0 0 1em

#section-team
  .container
    padding 0

ul#ul-team
  clearfix()
  margin -10px 0 0
  padding 5px
  li
    float left
    margin 0
    width 50%
    padding 5px
    margin 0 0 11px

  img
    width 100%

  span
    display block

  span.name
    font-weight bold

  span.title
    line-height 1.25em
    font-size 0.9em
    color dim

#section-resources
  display block
