#mc-embedded-subscribe-form
  max-width 20*x
  width 100%

  background hsla(0,0,0,.25)
  padding 0.25*x
  margin 0 auto

  display flex
  flex-flow column no-wrap

  .input-group
    margin 0.25*x
    flex 1

    input, button
      vertical-align top
      width 100%
