/*----------------------------------------------------------------------
Typography
----------------------------------------------------------------------*/
/*----------------------------------------------------------------------
Site Header
----------------------------------------------------------------------*/

#site-footer
  font-size x
  line-height x*3

#site-header
  ul
    width 120px * 1.3

#github-forkme
  top: x*3 + 3px
  width: 140px

/*----------------------------------------------------------------------
Sections
----------------------------------------------------------------------*/

section
  .container
    padding 0 1em

.article-prev-next
  margin 0 0 1em
  .arrow
    line-height 4.5*x + 1.5*0.125*x
  .title
    font-size 1.125em

/*----------------------------------------------------------------------
Body - Home
----------------------------------------------------------------------*/

#body-home
  section#section-hero-home
    h1
      font-size 3.5em

    #tagline, #intro
      margin 0 0 2em

    .social-media
      margin-top x*3
      a
        font-size 1.5em

/*----------------------------------------------------------------------
Body - About
----------------------------------------------------------------------*/

#body-about
  ul.ul-portraits
    margin -1em 0 0
    padding .5em
    li
      padding .5em
      margin 0 0 1em
      .label
        margin-top x*0.25
      span.name
        line-height 2em
        margin 0 0 x*0.5
        border-bottom 1px dotted bc
      span.title
        text-transform uppercase
        letter-spacing 1px
        font-size x*0.75


/*----------------------------------------------------------------------
Body - Blog
----------------------------------------------------------------------*/

.site-articles
  #section-hero
    ul.categories li a
      font-size 0.75em * 1.3
