{{ partial "header.html" . }}

<body id="body-blog">
  {{ partial "site-header.html" . }}

  <section id="section-top">
    <div class="section-container">
      <h1><i class="fa fa-rss"></i> Blog</h1>
      <p>Learn about what we&rsquo;re working on, right this moment. <a href="{{ .RSSlink }}">Subscribe via RSS</a></p>
    </div>
  </section>

  <section class="section-default">
    <div class="section-container">
      <div class="section-content">
        {{ range .Data.Pages }}
        {{ .Render "summary"}}
        {{ end }}
      </div>
    </div>
  </section>

{{ partial "site-footer.html" }}
