{{ partial "header.html" . }}

<body id="body-media">
  {{ partial "site-header.html" . }}

  <section id="section-top">
    <div class="section-container">
      <h1><i class="fa fa-video-camera"></i> Media</h1>
      <p>Watch presentations and other videos about and by the Tendermint team.</p>
    </div>
  </section>

  <section class="section-default section-flush">
    <div class="section-container">
      <div class="section-content">
        {{ range .Data.Pages }}
        {{ .Render "summary"}}
        {{ end }}
      </div>
    </div>
  </section>

{{ partial "site-footer.html" }}
