{{ partial "header.html" . }}

<body id="body-posts">
  {{ partial "site-header.html" . }}

  <section id="section-top">
    <div class="container">
      <h1>News</h1>
      <p>Learn about what we&rsquo;re working on, right this moment.</p>
    </div>
  </section>

  <section class="section-default">
    <div class="container">
      <div class="content">
        {{ range .Data.Pages }}
        {{ .Render "summary"}}
        {{ end }}
      </div>
    </div>
  </section>

{{ partial "site-footer.html" }}
